In [1]:
import pandas as pd
import numpy as np
import warnings
import datetime
import statistics
warnings.simplefilter(action='ignore', category=FutureWarning)

In [2]:
df = pd.read_csv("rice_manual.csv")
df.head()

,created_at,Unnamed: 1,Methane,Ethanol,Humidity,Temperature
0,2022-07-07T00:13:36+05:30,12538,224,176,89,29.2
1,2022-07-07T00:14:49+05:30,12539,224,180,88,29.2
2,2022-07-07T00:15:24+05:30,12540,225,183,95,29.3
3,2022-07-07T00:15:41+05:30,12541,225,186,90,29.4
4,2022-07-07T00:16:15+05:30,12542,217,187,90,29.8

In [3]:
df.pop("Unnamed: 1")
df = df.dropna()
df

                     created_at  Methane  Ethanol  Humidity  Temperature
0     2022-07-07T00:13:36+05:30      224      176        89         29.2
1     2022-07-07T00:14:49+05:30      224      180        88         29.2
2     2022-07-07T00:15:24+05:30      225      183        95         29.3
3     2022-07-07T00:15:41+05:30      225      186        90         29.4
4     2022-07-07T00:16:15+05:30      217      187        90         29.8
...                         ...      ...      ...       ...          ...
8700  2022-07-08T20:07:02+05:30      359      425        93         32.3
8701  2022-07-08T20:07:19+05:30      359      432        93         32.4
8702  2022-07-08T20:07:36+05:30      361      432        93         31.8
8703  2022-07-08T20:07:53+05:30      359      432        93         32.4
8704  2022-07-08T20:08:10+05:30      359      432        93         32.5

[8705 rows x 5 columns]

In [4]:
df[['Date', 'Time']] = df['created_at'].str.split('T', expand=True)
df[['Time', 'Standard']] = df['Time'].str.split('+', expand=True)

df.pop("Standard")
df

,created_at,Methane,Ethanol,Humidity,Temperature,Date,Time
0,2022-07-07T00:13:36+05:30,224,176,89,29.2,2022-07-07,00:13:36
1,2022-07-07T00:14:49+05:30,224,180,88,29.2,2022-07-07,00:14:49
2,2022-07-07T00:15:24+05:30,225,183,95,29.3,2022-07-07,00:15:24
3,2022-07-07T00:15:41+05:30,225,186,90,29.4,2022-07-07,00:15:41
4,2022-07-07T00:16:15+05:30,217,187,90,29.8,2022-07-07,00:16:15
...,...,...,...,...,...,...,...
8700,2022-07-08T20:07:02+05:30,359,425,93,32.3,2022-07-08,20:07:02
8701,2022-07-08T20:07:19+05:30,359,432,93,32.4,2022-07-08,20:07:19
8702,2022-07-08T20:07:36+05:30,361,432,93,31.8,2022-07-08,20:07:36
8703,2022-07-08T20:07:53+05:30,359,432,93,32.4,2022-07-08,20:07:53
8704,2022-07-08T20:08:10+05:30,359,432,93,32.5,2022-07-08,20:08:10

In [5]:
df['Date'] = pd.to_datetime(df.Date)
df['Time'] = pd.to_datetime(df.Time)

df.dtypes

created_at             object
Methane                 int64
Ethanol                 int64
Humidity                int64
Temperature           float64
Date           datetime64[ns]
Time           datetime64[ns]
dtype: object

In [6]:

df['Hour'] = df.Time.dt.hour
df['Mins'] = df.Time.dt.minute
df['Secs'] = df.Time.dt.second
df['Year'] = df.Date.dt.year
df['Month'] = df.Date.dt.month
df['Day'] = df.Date.dt.day
df['Time'] = df.Time.dt.time
df

,created_at,Methane,Ethanol,Humidity,Temperature,Date,Time,Hour,Mins,Secs,Year,Month,Day
0,2022-07-07T00:13:36+05:30,224,176,89,29.2,2022-07-07,00:13:36,0,13,36,2022,7,7
1,2022-07-07T00:14:49+05:30,224,180,88,29.2,2022-07-07,00:14:49,0,14,49,2022,7,7
2,2022-07-07T00:15:24+05:30,225,183,95,29.3,2022-07-07,00:15:24,0,15,24,2022,7,7
3,2022-07-07T00:15:41+05:30,225,186,90,29.4,2022-07-07,00:15:41,0,15,41,2022,7,7
4,2022-07-07T00:16:15+05:30,217,187,90,29.8,2022-07-07,00:16:15,0,16,15,2022,7,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8700,2022-07-08T20:07:02+05:30,359,425,93,32.3,2022-07-08,20:07:02,20,7,2,2022,7,8
8701,2022-07-08T20:07:19+05:30,359,432,93,32.4,2022-07-08,20:07:19,20,7,19,2022,7,8
8702,2022-07-08T20:07:36+05:30,361,432,93,31.8,2022-07-08,20:07:36,20,7,36,2022,7,8
8703,2022-07-08T20:07:53+05:30,359,432,93,32.4,2022-07-08,20:07:53,20,7,53,2022,7,8
8704,2022-07-08T20:08:10+05:30,359,432,93,32.5,2022-07-08,20:08:10,20,8,10,2022,7,8

In [7]:
df.mean()

Methane         303.727858
Ethanol         330.528891
Humidity         91.716829
Temperature      32.545227
Hour             10.776795
Mins             29.606433
Secs             29.575991
Year           2022.000000
Month             7.000000
Day               7.469730
dtype: float64

In [8]:
 df.isnull().any().any()

False

In [9]:
df['E1'] = 0
df['H1'] = 0
df['M1'] = 0
df['T1'] = 0
df['E2'] = 0
df['H2'] = 0
df['M2'] = 0
df['T2'] = 0


for i in range(3, len(df)-2):

    df.E1[i] = (( df.Ethanol[i-2] + df.Ethanol[i-1] + df.Ethanol[i] + df.Ethanol[i+1] + df.Ethanol[i+2])/5)
    df.H1[i] = (( df.Humidity[i-2] + df.Humidity[i-1] + df.Humidity[i] + df.Humidity[i+1] + df.Humidity[i+2])/5)
    df.M1[i] = (( df.Methane[i-2] + df.Methane[i-1] + df.Methane[i] + df.Methane[i+1] + df.Methane[i+2])/5)
    df.T1[i] = (( df.Temperature[i-2] + df.Temperature[i-1] + df.Temperature[i] + df.Temperature[i+1] + df.Temperature[i+2])/5)

for i in range(3, len(df)-2):

    df.E2[i] = (5 / ( (1/df.Ethanol[i-2]) + (1/df.Ethanol[i-1]) + (1/df.Ethanol[i]) + (1/df.Ethanol[i+1]) + (1/df.Ethanol[i+2])))
    df.H2[i] = (5 / ( (1/df.Humidity[i-2]) + (1/df.Humidity[i-1]) + (1/df.Humidity[i]) + (1/df.Humidity[i+1]) + (1/df.Humidity[i+2])))
    df.M2[i] = (5 / ( (1/df.Methane[i-2]) + (1/df.Methane[i-1]) + (1/df.Methane[i]) + (1/df.Methane[i+1]) + (1/df.Methane[i+2])))
    df.T2[i] = (5 / ( (1/df.Temperature[i-2]) + (1/df.Temperature[i-1]) + (1/df.Temperature[i]) + (1/df.Temperature[i+1]) + (1/df.Temperature[i+2])))
    
df.tail(20)

C:\Users\naren\AppData\Local\Temp\ipykernel_15388\1376687635.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.E1[i] = (( df.Ethanol[i-2] + df.Ethanol[i-1] + df.Ethanol[i] + df.Ethanol[i+1] + df.Ethanol[i+2])/5)
C:\Users\naren\AppData\Local\Temp\ipykernel_15388\1376687635.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.H1[i] = (( df.Humidity[i-2] + df.Humidity[i-1] + df.Humidity[i] + df.Humidity[i+1] + df.Humidity[i+2])/5)
C:\Users\naren\AppData\Local\Temp\ipykernel_15388\1376687635.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.M1[i] = (( df.Methane[i-2] + df.Methane[i-1] + df.Methane[i] + df.Methane[i+1] + df.Methane[i+2])/5)
C:\Users\naren\AppData\Local\Temp\ipykernel_15388\1376687635.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.T1[i] = (( df.Temperature[i-2] + df.Temperature[i-1] + df.Temperature[i] + df.Temperature[i+1] + df.Temperature[i+2])/5)
C:\Users\naren\AppData\Local\Temp\ipykernel_15388\1376687635.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.E2[i] = (5 / ( (1/df.Ethanol[i-2]) + (1/df.Ethanol[i-1]) + (1/df.Ethanol[i]) + (1/df.Ethanol[i+1]) + (1/df.Ethanol[i+2])))
C:\Users\naren\AppData\Local\Temp\ipykernel_15388\1376687635.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.H2[i] = (5 / ( (1/df.Humidity[i-2]) + (1/df.Humidity[i-1]) + (1/df.Humidity[i]) + (1/df.Humidity[i+1]) + (1/df.Humidity[i+2])))
C:\Users\naren\AppData\Local\Temp\ipykernel_15388\1376687635.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.M2[i] = (5 / ( (1/df.Methane[i-2]) + (1/df.Methane[i-1]) + (1/df.Methane[i]) + (1/df.Methane[i+1]) + (1/df.Methane[i+2])))
C:\Users\naren\AppData\Local\Temp\ipykernel_15388\1376687635.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.T2[i] = (5 / ( (1/df.Temperature[i-2]) + (1/df.Temperature[i-1]) + (1/df.Temperature[i]) + (1/df.Temperature[i+1]) + (1/df.Temperature[i+2])))

,created_at,Methane,Ethanol,Humidity,Temperature,Date,Time,Hour,Mins,Secs,...,Month,Day,E1,H1,M1,T1,E2,H2,M2,T2
8685,2022-07-08T20:02:46+05:30,358,426,93,32.5,2022-07-08,20:02:46,20,2,46,...,7,8,426.8,93.0,358.8,32.48,426.783832,93.0,358.796224,32.479951
8686,2022-07-08T20:03:03+05:30,359,425,93,32.5,2022-07-08,20:03:03,20,3,3,...,7,8,428.4,93.0,359.2,32.50,428.373380,93.0,359.196218,32.500000
8687,2022-07-08T20:03:20+05:30,361,432,93,32.5,2022-07-08,20:03:20,20,3,20,...,7,8,428.4,93.0,359.4,32.50,428.373380,93.0,359.397108,32.500000
8688,2022-07-08T20:03:37+05:30,360,433,93,32.5,2022-07-08,20:03:37,20,3,37,...,7,8,428.2,93.0,359.6,32.50,428.170765,93.0,359.598224,32.500000
8689,2022-07-08T20:03:54+05:30,359,426,93,32.5,2022-07-08,20:03:54,20,3,54,...,7,8,429.6,93.0,360.2,32.46,429.573287,93.0,360.196229,32.459802
8690,2022-07-08T20:04:11+05:30,359,425,93,32.5,2022-07-08,20:04:11,20,4,11,...,7,8,428.2,93.0,359.8,32.46,428.170765,93.0,359.796234,32.459802
8691,2022-07-08T20:04:28+05:30,362,432,93,32.3,2022-07-08,20:04:28,20,4,28,...,7,8,428.0,93.0,359.6,32.46,427.974838,93.0,359.596015,32.459802
8692,2022-07-08T20:04:45+05:30,359,425,93,32.5,2022-07-08,20:04:45,20,4,45,...,7,8,427.8,93.0,359.6,32.46,427.772600,93.0,359.596015,32.459802
8693,2022-07-08T20:05:02+05:30,359,432,93,32.5,2022-07-08,20:05:02,20,5,2,...,7,8,427.8,93.0,359.4,32.44,427.772600,93.0,359.394903,32.439802
8694,2022-07-08T20:05:19+05:30,359,425,93,32.5,2022-07-08,20:05:19,20,5,19,...,7,8,427.8,93.0,358.6,32.48,427.772600,93.0,358.599330,32.479951
8695,2022-07-08T20:05:36+05:30,358,425,93,32.4,2022-07-08,20:05:36,20,5,36,...,7,8,429.2,93.0,358.2,32.46,429.172511,93.0,358.198435,32.459926
8696,2022-07-08T20:05:54+05:30,358,432,93,32.5,2022-07-08,20:05:54,20,5,54,...,7,8,427.8,93.0,358.0,32.44,427.772600,93.0,357.998883,32.439926
8697,2022-07-08T20:06:11+05:30,357,432,93,32.4,2022-07-08,20:06:11,20,6,11,...,7,8,428.0,93.0,358.0,32.42,427.974838,93.0,357.998883,32.419951
8698,2022-07-08T20:06:28+05:30,358,425,93,32.4,2022-07-08,20:06:28,20,6,28,...,7,8,428.0,93.0,358.2,32.40,427.974838,93.0,358.198435,32.399877
8699,2022-07-08T20:06:45+05:30,359,426,93,32.4,2022-07-08,20:06:45,20,6,45,...,7,8,428.0,93.0,358.4,32.38,427.974838,93.0,358.398211,32.379950
8700,2022-07-08T20:07:02+05:30,359,425,93,32.3,2022-07-08,20:07:02,20,7,2,...,7,8,428.0,93.0,359.2,32.26,427.974838,93.0,359.197334,32.258296
8701,2022-07-08T20:07:19+05:30,359,432,93,32.4,2022-07-08,20:07:19,20,7,19,...,7,8,429.4,93.0,359.4,32.26,429.376075,93.0,359.398225,32.258296
8702,2022-07-08T20:07:36+05:30,361,432,93,31.8,2022-07-08,20:07:36,20,7,36,...,7,8,430.6,93.0,359.4,32.28,430.581614,93.0,359.398225,32.278073
8703,2022-07-08T20:07:53+05:30,359,432,93,32.4,2022-07-08,20:07:53,20,7,53,...,7,8,0.0,0.0,0.0,0.00,0.000000,0.0,0.000000,0.000000
8704,2022-07-08T20:08:10+05:30,359,432,93,32.5,2022-07-08,20:08:10,20,8,10,...,7,8,0.0,0.0,0.0,0.00,0.000000,0.0,0.000000,0.000000

In [10]:
for i in range(1, len(df)):
    if (df.E1[i] == 0 or df.E2[i] == 0 ):
        df.E1[i] = df.Ethanol[i]
        df.E2[i] = df.Ethanol[i]
    if (df.H1[i] == 0 or df.H2[i] == 0 ):
        df.H1[i] = df.Humidity[i]
        df.H2[i] = df.Humidity[i]
    if (df.M1[i] == 0 or df.M2[i] == 0 ):
        df.M1[i] = df.Methane[i]
        df.M2[i] = df.Methane[i]
    if (df.T1[i] == 0 or df.T2[i] == 0 ):
        df.T1[i] = df.Temperature[i]
        df.T2[i] = df.Temperature[i] 

df

,created_at,Methane,Ethanol,Humidity,Temperature,Date,Time,Hour,Mins,Secs,...,Month,Day,E1,H1,M1,T1,E2,H2,M2,T2
0,2022-07-07T00:13:36+05:30,224,176,89,29.2,2022-07-07,00:13:36,0,13,36,...,7,7,0.0,0.0,0.0,0.00,0.000000,0.000000,0.000000,0.000000
1,2022-07-07T00:14:49+05:30,224,180,88,29.2,2022-07-07,00:14:49,0,14,49,...,7,7,180.0,88.0,224.0,29.20,180.000000,88.000000,224.000000,29.200000
2,2022-07-07T00:15:24+05:30,225,183,95,29.3,2022-07-07,00:15:24,0,15,24,...,7,7,183.0,95.0,225.0,29.30,183.000000,95.000000,225.000000,29.300000
3,2022-07-07T00:15:41+05:30,225,186,90,29.4,2022-07-07,00:15:41,0,15,41,...,7,7,185.4,90.6,222.8,29.54,185.325372,90.541516,222.759077,29.536818
4,2022-07-07T00:16:15+05:30,217,187,90,29.8,2022-07-07,00:16:15,0,16,15,...,7,7,186.0,91.4,223.0,29.70,185.953092,91.358885,222.956162,29.697029
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8700,2022-07-08T20:07:02+05:30,359,425,93,32.3,2022-07-08,20:07:02,20,7,2,...,7,8,428.0,93.0,359.2,32.26,427.974838,93.000000,359.197334,32.258296
8701,2022-07-08T20:07:19+05:30,359,432,93,32.4,2022-07-08,20:07:19,20,7,19,...,7,8,429.4,93.0,359.4,32.26,429.376075,93.000000,359.398225,32.258296
8702,2022-07-08T20:07:36+05:30,361,432,93,31.8,2022-07-08,20:07:36,20,7,36,...,7,8,430.6,93.0,359.4,32.28,430.581614,93.000000,359.398225,32.278073
8703,2022-07-08T20:07:53+05:30,359,432,93,32.4,2022-07-08,20:07:53,20,7,53,...,7,8,432.0,93.0,359.0,32.40,432.000000,93.000000,359.000000,32.400000
8704,2022-07-08T20:08:10+05:30,359,432,93,32.5,2022-07-08,20:08:10,20,8,10,...,7,8,432.0,93.0,359.0,32.50,432.000000,93.000000,359.000000,32.500000

In [11]:
df.pop("H1")
df.pop("T1")
df.pop("H2")
df.pop("T2")

0        0.000000
1       29.200000
2       29.300000
3       29.536818
4       29.697029
          ...
8700    32.258296
8701    32.258296
8702    32.278073
8703    32.400000
8704    32.500000
Name: T2, Length: 8705, dtype: float64

In [12]:
df['E3'] = 0
df['M3'] = 0
for i in range(3, len(df)-2):

    df.E3[i] = (( (df.Ethanol[i-2]-df.E1[i-2])**2 + (df.Ethanol[i-1]-df.E1[i-1])**2 + (df.Ethanol[i]-df.E1[i])**2 +(df.Ethanol[i+1]-df.E1[i+1])**2+(df.Ethanol[i+2]-df.E1[i+2])**2 )/5)
    df.M3[i] = (( (df.Methane[i-2]-df.M1[i-2])**2 + (df.Methane[i-1]-df.M1[i-1])**2 + (df.Methane[i]-df.M1[i])**2 +(df.Methane[i+1]-df.M1[i+1])**2+(df.Methane[i+2]-df.M1[i+2])**2 )/5)

C:\Users\naren\AppData\Local\Temp\ipykernel_15388\2314811916.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.E3[i] = (( (df.Ethanol[i-2]-df.E1[i-2])**2 + (df.Ethanol[i-1]-df.E1[i-1])**2 + (df.Ethanol[i]-df.E1[i])**2 +(df.Ethanol[i+1]-df.E1[i+1])**2+(df.Ethanol[i+2]-df.E1[i+2])**2 )/5)
C:\Users\naren\AppData\Local\Temp\ipykernel_15388\2314811916.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.M3[i] = (( (df.Methane[i-2]-df.M1[i-2])**2 + (df.Methane[i-1]-df.M1[i-1])**2 + (df.Methane[i]-df.M1[i])**2 +(df.Methane[i+1]-df.M1[i+1])**2+(df.Methane[i+2]-df.M1[i+2])**2 )/5)

In [13]:
df['M3'] = (df.M3**(1/2))
df['E3'] = (df.E3**(1/2))
df

,created_at,Methane,Ethanol,Humidity,Temperature,Date,Time,Hour,Mins,Secs,Year,Month,Day,E1,M1,E2,M2,E3,M3
0,2022-07-07T00:13:36+05:30,224,176,89,29.2,2022-07-07,00:13:36,0,13,36,2022,7,7,0.0,0.0,0.000000,0.000000,0.000000,0.000000
1,2022-07-07T00:14:49+05:30,224,180,88,29.2,2022-07-07,00:14:49,0,14,49,2022,7,7,180.0,224.0,180.000000,224.000000,0.000000,0.000000
2,2022-07-07T00:15:24+05:30,225,183,95,29.3,2022-07-07,00:15:24,0,15,24,2022,7,7,183.0,225.0,183.000000,225.000000,0.000000,0.000000
3,2022-07-07T00:15:41+05:30,225,186,90,29.4,2022-07-07,00:15:41,0,15,41,2022,7,7,185.4,222.8,185.325372,222.759077,1.863330,2.863564
4,2022-07-07T00:16:15+05:30,217,187,90,29.8,2022-07-07,00:16:15,0,16,15,2022,7,7,186.0,223.0,185.953092,222.956162,2.709982,2.931211
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8700,2022-07-08T20:07:02+05:30,359,425,93,32.3,2022-07-08,20:07:02,20,7,2,2022,7,8,428.0,359.2,427.974838,359.197334,2.478709,0.794984
8701,2022-07-08T20:07:19+05:30,359,432,93,32.4,2022-07-08,20:07:19,20,7,19,2022,7,8,429.4,359.4,429.376075,359.398225,2.084226,0.789937
8702,2022-07-08T20:07:36+05:30,361,432,93,31.8,2022-07-08,20:07:36,20,7,36,2022,7,8,430.6,359.4,430.581614,359.398225,1.882551,0.742967
8703,2022-07-08T20:07:53+05:30,359,432,93,32.4,2022-07-08,20:07:53,20,7,53,2022,7,8,432.0,359.0,432.000000,359.000000,0.000000,0.000000
8704,2022-07-08T20:08:10+05:30,359,432,93,32.5,2022-07-08,20:08:10,20,8,10,2022,7,8,432.0,359.0,432.000000,359.000000,0.000000,0.000000

In [14]:
df.loc[df['M3'] >= 2]

,created_at,Methane,Ethanol,Humidity,Temperature,Date,Time,Hour,Mins,Secs,Year,Month,Day,E1,M1,E2,M2,E3,M3
3,2022-07-07T00:15:41+05:30,225,186,90,29.4,2022-07-07,00:15:41,0,15,41,2022,7,7,185.4,222.8,185.325372,222.759077,1.863330,2.863564
4,2022-07-07T00:16:15+05:30,217,187,90,29.8,2022-07-07,00:16:15,0,16,15,2022,7,7,186.0,223.0,185.953092,222.956162,2.709982,2.931211
5,2022-07-07T00:16:49+05:30,223,191,90,30.0,2022-07-07,00:16:49,0,16,49,2022,7,7,187.0,223.4,186.963628,223.346149,2.746634,2.997332
6,2022-07-07T00:17:40+05:30,225,183,92,30.0,2022-07-07,00:17:40,0,17,40,2022,7,7,187.4,223.6,187.364341,223.542520,2.849561,2.836900
12,2022-07-07T00:20:48+05:30,223,190,94,31.0,2022-07-07,00:20:48,0,20,48,2022,7,7,189.8,225.8,189.755423,225.774459,2.645751,2.702591
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8663,2022-07-08T19:56:29+05:30,361,432,93,32.6,2022-07-08,19:56:29,19,56,29,2022,7,8,428.2,358.8,428.177267,358.790650,2.488373,2.015937
8664,2022-07-08T19:56:46+05:30,358,426,93,32.5,2022-07-08,19:56:46,19,56,46,2022,7,8,428.4,358.8,428.379888,358.790650,2.558124,2.015937
8665,2022-07-08T19:57:04+05:30,357,432,93,32.5,2022-07-08,19:57:04,19,57,4,2022,7,8,429.6,359.6,429.579832,359.591525,2.989314,2.093800
8666,2022-07-08T19:57:21+05:30,361,426,93,33.1,2022-07-08,19:57:21,19,57,21,2022,7,8,428.4,358.8,428.379888,358.790650,2.683282,2.015937
8667,2022-07-08T19:57:38+05:30,361,432,93,32.5,2022-07-08,19:57:38,19,57,38,2022,7,8,428.4,358.8,428.379888,358.790650,2.648773,2.015937

In [15]:
df.dtypes

created_at             object
Methane                 int64
Ethanol                 int64
Humidity                int64
Temperature           float64
Date           datetime64[ns]
Time                   object
Hour                    int64
Mins                    int64
Secs                    int64
Year                    int64
Month                   int64
Day                     int64
E1                    float64
M1                    float64
E2                    float64
M2                    float64
E3                    float64
M3                    float64
dtype: object

In [16]:
from sklearn import preprocessing

df['M4'] = 0
df['E4'] = 0
var1 = df.M1
a = preprocessing.normalize([var1])
var2 = df.E1
b = preprocessing.normalize([var2])

np.shape(b)
np.shape(a)

(1, 8705)

In [17]:
a1 = a.T
b1 = b.T
np.shape(a1)
np.shape(b1)

(8705, 1)

In [18]:
for i in range(1, len(df)):

        df.M4[i] = a1[i]
        df.E4[i] = b1[i]
df

C:\Users\naren\AppData\Local\Temp\ipykernel_15388\4054316011.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.M4[i] = a1[i]
C:\Users\naren\AppData\Local\Temp\ipykernel_15388\4054316011.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.E4[i] = b1[i]

,created_at,Methane,Ethanol,Humidity,Temperature,Date,Time,Hour,Mins,Secs,...,Month,Day,E1,M1,E2,M2,E3,M3,M4,E4
0,2022-07-07T00:13:36+05:30,224,176,89,29.2,2022-07-07,00:13:36,0,13,36,...,7,7,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,2022-07-07T00:14:49+05:30,224,180,88,29.2,2022-07-07,00:14:49,0,14,49,...,7,7,180.0,224.0,180.000000,224.000000,0.000000,0.000000,0.007774,0.005600
2,2022-07-07T00:15:24+05:30,225,183,95,29.3,2022-07-07,00:15:24,0,15,24,...,7,7,183.0,225.0,183.000000,225.000000,0.000000,0.000000,0.007808,0.005693
3,2022-07-07T00:15:41+05:30,225,186,90,29.4,2022-07-07,00:15:41,0,15,41,...,7,7,185.4,222.8,185.325372,222.759077,1.863330,2.863564,0.007732,0.005768
4,2022-07-07T00:16:15+05:30,217,187,90,29.8,2022-07-07,00:16:15,0,16,15,...,7,7,186.0,223.0,185.953092,222.956162,2.709982,2.931211,0.007739,0.005786
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8700,2022-07-08T20:07:02+05:30,359,425,93,32.3,2022-07-08,20:07:02,20,7,2,...,7,8,428.0,359.2,427.974838,359.197334,2.478709,0.794984,0.012465,0.013315
8701,2022-07-08T20:07:19+05:30,359,432,93,32.4,2022-07-08,20:07:19,20,7,19,...,7,8,429.4,359.4,429.376075,359.398225,2.084226,0.789937,0.012472,0.013359
8702,2022-07-08T20:07:36+05:30,361,432,93,31.8,2022-07-08,20:07:36,20,7,36,...,7,8,430.6,359.4,430.581614,359.398225,1.882551,0.742967,0.012472,0.013396
8703,2022-07-08T20:07:53+05:30,359,432,93,32.4,2022-07-08,20:07:53,20,7,53,...,7,8,432.0,359.0,432.000000,359.000000,0.000000,0.000000,0.012458,0.013439
8704,2022-07-08T20:08:10+05:30,359,432,93,32.5,2022-07-08,20:08:10,20,8,10,...,7,8,432.0,359.0,432.000000,359.000000,0.000000,0.000000,0.012458,0.013439

In [19]:
df['M5'] = 0

for i in range(1, len(df)):
        df.M5[i] = 1- ( ((df.M1[i]+df.M2[i])/2 - min(df.Methane)) / (500 - min(df.Methane)) ) - df.M4[i]
        
df

C:\Users\naren\AppData\Local\Temp\ipykernel_15388\3261091522.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.M5[i] = 1- ( ((df.M1[i]+df.M2[i])/2 - min(df.Methane)) / (500 - min(df.Methane)) ) - df.M4[i]

,created_at,Methane,Ethanol,Humidity,Temperature,Date,Time,Hour,Mins,Secs,...,Day,E1,M1,E2,M2,E3,M3,M4,E4,M5
0,2022-07-07T00:13:36+05:30,224,176,89,29.2,2022-07-07,00:13:36,0,13,36,...,7,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,2022-07-07T00:14:49+05:30,224,180,88,29.2,2022-07-07,00:14:49,0,14,49,...,7,180.0,224.0,180.000000,224.000000,0.000000,0.000000,0.007774,0.005600,0.943951
2,2022-07-07T00:15:24+05:30,225,183,95,29.3,2022-07-07,00:15:24,0,15,24,...,7,183.0,225.0,183.000000,225.000000,0.000000,0.000000,0.007808,0.005693,0.940468
3,2022-07-07T00:15:41+05:30,225,186,90,29.4,2022-07-07,00:15:41,0,15,41,...,7,185.4,222.8,185.325372,222.759077,1.863330,2.863564,0.007732,0.005768,0.948201
4,2022-07-07T00:16:15+05:30,217,187,90,29.8,2022-07-07,00:16:15,0,16,15,...,7,186.0,223.0,185.953092,222.956162,2.709982,2.931211,0.007739,0.005786,0.947509
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8700,2022-07-08T20:07:02+05:30,359,425,93,32.3,2022-07-08,20:07:02,20,7,2,...,8,428.0,359.2,427.974838,359.197334,2.478709,0.794984,0.012465,0.013315,0.473056
8701,2022-07-08T20:07:19+05:30,359,432,93,32.4,2022-07-08,20:07:19,20,7,19,...,8,429.4,359.4,429.376075,359.398225,2.084226,0.789937,0.012472,0.013359,0.472358
8702,2022-07-08T20:07:36+05:30,361,432,93,31.8,2022-07-08,20:07:36,20,7,36,...,8,430.6,359.4,430.581614,359.398225,1.882551,0.742967,0.012472,0.013396,0.472358
8703,2022-07-08T20:07:53+05:30,359,432,93,32.4,2022-07-08,20:07:53,20,7,53,...,8,432.0,359.0,432.000000,359.000000,0.000000,0.000000,0.012458,0.013439,0.473748
8704,2022-07-08T20:08:10+05:30,359,432,93,32.5,2022-07-08,20:08:10,20,8,10,...,8,432.0,359.0,432.000000,359.000000,0.000000,0.000000,0.012458,0.013439,0.473748

In [20]:
df['E5'] = 0

for i in range(1, len(df)):
        df.E5[i] = 1 - ( ((df.E1[i]+df.E2[i])/2 - min(df.Ethanol)) / (500 - min(df.Ethanol)) ) - df.E4[i]
        
df

C:\Users\naren\AppData\Local\Temp\ipykernel_15388\2403780690.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.E5[i] = 1 - ( ((df.E1[i]+df.E2[i])/2 - min(df.Ethanol)) / (500 - min(df.Ethanol)) ) - df.E4[i]

,created_at,Methane,Ethanol,Humidity,Temperature,Date,Time,Hour,Mins,Secs,...,E1,M1,E2,M2,E3,M3,M4,E4,M5,E5
0,2022-07-07T00:13:36+05:30,224,176,89,29.2,2022-07-07,00:13:36,0,13,36,...,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,2022-07-07T00:14:49+05:30,224,180,88,29.2,2022-07-07,00:14:49,0,14,49,...,180.0,224.0,180.000000,224.000000,0.000000,0.000000,0.007774,0.005600,0.943951,0.961168
2,2022-07-07T00:15:24+05:30,225,183,95,29.3,2022-07-07,00:15:24,0,15,24,...,183.0,225.0,183.000000,225.000000,0.000000,0.000000,0.007808,0.005693,0.940468,0.952011
3,2022-07-07T00:15:41+05:30,225,186,90,29.4,2022-07-07,00:15:41,0,15,41,...,185.4,222.8,185.325372,222.759077,1.863330,2.863564,0.007732,0.005768,0.948201,0.944798
4,2022-07-07T00:16:15+05:30,217,187,90,29.8,2022-07-07,00:16:15,0,16,15,...,186.0,223.0,185.953092,222.956162,2.709982,2.931211,0.007739,0.005786,0.947509,0.942925
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8700,2022-07-08T20:07:02+05:30,359,425,93,32.3,2022-07-08,20:07:02,20,7,2,...,428.0,359.2,427.974838,359.197334,2.478709,0.794984,0.012465,0.013315,0.473056,0.204246
8701,2022-07-08T20:07:19+05:30,359,432,93,32.4,2022-07-08,20:07:19,20,7,19,...,429.4,359.4,429.376075,359.398225,2.084226,0.789937,0.012472,0.013359,0.472358,0.199971
8702,2022-07-08T20:07:36+05:30,361,432,93,31.8,2022-07-08,20:07:36,20,7,36,...,430.6,359.4,430.581614,359.398225,1.882551,0.742967,0.012472,0.013396,0.472358,0.196300
8703,2022-07-08T20:07:53+05:30,359,432,93,32.4,2022-07-08,20:07:53,20,7,53,...,432.0,359.0,432.000000,359.000000,0.000000,0.000000,0.012458,0.013439,0.473748,0.191999
8704,2022-07-08T20:08:10+05:30,359,432,93,32.5,2022-07-08,20:08:10,20,8,10,...,432.0,359.0,432.000000,359.000000,0.000000,0.000000,0.012458,0.013439,0.473748,0.191999

In [21]:
df['Quality'] = 0

for i in range(1, len(df)):
    df.Quality[i] = ((df.M5[i] + df.E5[i])/ 2)*10
    
df

C:\Users\naren\AppData\Local\Temp\ipykernel_15388\1422584127.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Quality[i] = ((df.M5[i] + df.E5[i])/ 2)*10

,created_at,Methane,Ethanol,Humidity,Temperature,Date,Time,Hour,Mins,Secs,...,M1,E2,M2,E3,M3,M4,E4,M5,E5,Quality
0,2022-07-07T00:13:36+05:30,224,176,89,29.2,2022-07-07,00:13:36,0,13,36,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,2022-07-07T00:14:49+05:30,224,180,88,29.2,2022-07-07,00:14:49,0,14,49,...,224.0,180.000000,224.000000,0.000000,0.000000,0.007774,0.005600,0.943951,0.961168,9.525591
2,2022-07-07T00:15:24+05:30,225,183,95,29.3,2022-07-07,00:15:24,0,15,24,...,225.0,183.000000,225.000000,0.000000,0.000000,0.007808,0.005693,0.940468,0.952011,9.462392
3,2022-07-07T00:15:41+05:30,225,186,90,29.4,2022-07-07,00:15:41,0,15,41,...,222.8,185.325372,222.759077,1.863330,2.863564,0.007732,0.005768,0.948201,0.944798,9.464994
4,2022-07-07T00:16:15+05:30,217,187,90,29.8,2022-07-07,00:16:15,0,16,15,...,223.0,185.953092,222.956162,2.709982,2.931211,0.007739,0.005786,0.947509,0.942925,9.452170
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8700,2022-07-08T20:07:02+05:30,359,425,93,32.3,2022-07-08,20:07:02,20,7,2,...,359.2,427.974838,359.197334,2.478709,0.794984,0.012465,0.013315,0.473056,0.204246,3.386510
8701,2022-07-08T20:07:19+05:30,359,432,93,32.4,2022-07-08,20:07:19,20,7,19,...,359.4,429.376075,359.398225,2.084226,0.789937,0.012472,0.013359,0.472358,0.199971,3.361645
8702,2022-07-08T20:07:36+05:30,361,432,93,31.8,2022-07-08,20:07:36,20,7,36,...,359.4,430.581614,359.398225,1.882551,0.742967,0.012472,0.013396,0.472358,0.196300,3.343289
8703,2022-07-08T20:07:53+05:30,359,432,93,32.4,2022-07-08,20:07:53,20,7,53,...,359.0,432.000000,359.000000,0.000000,0.000000,0.012458,0.013439,0.473748,0.191999,3.328735
8704,2022-07-08T20:08:10+05:30,359,432,93,32.5,2022-07-08,20:08:10,20,8,10,...,359.0,432.000000,359.000000,0.000000,0.000000,0.012458,0.013439,0.473748,0.191999,3.328735

In [22]:
T1 = df.loc[df['Quality'] >= 9.15]
T1

,created_at,Methane,Ethanol,Humidity,Temperature,Date,Time,Hour,Mins,Secs,...,M1,E2,M2,E3,M3,M4,E4,M5,E5,Quality
1,2022-07-07T00:14:49+05:30,224,180,88,29.2,2022-07-07,00:14:49,0,14,49,...,224.0,180.000000,224.000000,0.000000,0.000000,0.007774,0.005600,0.943951,0.961168,9.525591
2,2022-07-07T00:15:24+05:30,225,183,95,29.3,2022-07-07,00:15:24,0,15,24,...,225.0,183.000000,225.000000,0.000000,0.000000,0.007808,0.005693,0.940468,0.952011,9.462392
3,2022-07-07T00:15:41+05:30,225,186,90,29.4,2022-07-07,00:15:41,0,15,41,...,222.8,185.325372,222.759077,1.863330,2.863564,0.007732,0.005768,0.948201,0.944798,9.464994
4,2022-07-07T00:16:15+05:30,217,187,90,29.8,2022-07-07,00:16:15,0,16,15,...,223.0,185.953092,222.956162,2.709982,2.931211,0.007739,0.005786,0.947509,0.942925,9.452170
5,2022-07-07T00:16:49+05:30,223,191,90,30.0,2022-07-07,00:16:49,0,16,49,...,223.4,186.963628,223.346149,2.746634,2.997332,0.007753,0.005818,0.946133,0.939857,9.429950
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1986,2022-07-07T10:45:20+05:30,232,195,89,32.5,2022-07-07,10:45:20,10,45,20,...,227.4,197.319585,227.374625,3.309381,2.866357,0.007892,0.006141,0.932152,0.908180,9.201660
1987,2022-07-07T10:45:37+05:30,227,195,89,32.6,2022-07-07,10:45:37,10,45,37,...,229.0,195.390659,228.963500,2.376552,3.122819,0.007947,0.006079,0.926599,0.914177,9.203878
1988,2022-07-07T10:45:54+05:30,226,194,89,32.5,2022-07-07,10:45:54,10,45,54,...,229.0,196.716384,228.963500,3.451377,3.297272,0.007947,0.006122,0.926599,0.910016,9.183073
2002,2022-07-07T10:49:53+05:30,228,199,89,32.5,2022-07-07,10:49:53,10,49,53,...,227.0,200.123350,226.994690,2.848157,1.876166,0.007878,0.006228,0.933511,0.899628,9.165693
2003,2022-07-07T10:50:10+05:30,227,199,89,32.5,2022-07-07,10:50:10,10,50,10,...,228.4,198.396763,228.385094,1.382751,1.761817,0.007926,0.006172,0.928651,0.905011,9.168311

In [23]:
T2 = df.loc[df['Quality'] >= 8.00]
T2 = T2.loc[df['Quality'] <=9.15]
T2

,created_at,Methane,Ethanol,Humidity,Temperature,Date,Time,Hour,Mins,Secs,...,M1,E2,M2,E3,M3,M4,E4,M5,E5,Quality
1938,2022-07-07T10:31:39+05:30,232,205,89,32.6,2022-07-07,10:31:39,10,31,39,...,228.6,199.453523,228.572770,4.118252,3.051557,0.007933,0.006210,0.927976,0.901565,9.147702
1939,2022-07-07T10:31:56+05:30,231,197,89,32.7,2022-07-07,10:31:56,10,31,56,...,228.6,199.453523,228.572770,4.447021,2.610747,0.007933,0.006210,0.927976,0.901565,9.147702
1940,2022-07-07T10:32:13+05:30,228,207,89,32.5,2022-07-07,10:32:13,10,32,13,...,228.6,201.505179,228.572770,4.051666,1.989975,0.007933,0.006272,0.927976,0.895382,9.116790
1946,2022-07-07T10:33:56+05:30,232,196,89,32.4,2022-07-07,10:33:56,10,33,56,...,227.2,201.295079,227.173255,5.254332,2.431460,0.007885,0.006266,0.932851,0.896008,9.144295
1961,2022-07-07T10:38:12+05:30,225,205,89,32.7,2022-07-07,10:38:12,10,38,12,...,229.4,200.220195,229.339469,4.778284,3.948671,0.007961,0.006234,0.925247,0.899173,9.122100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2511,2022-07-07T13:24:01+05:30,251,245,90,33.0,2022-07-07,13:24:01,13,24,1,...,251.8,245.536482,251.797778,3.107410,0.880909,0.008738,0.007641,0.847128,0.761035,8.040815
2512,2022-07-07T13:24:18+05:30,252,245,90,33.2,2022-07-07,13:24:18,13,24,18,...,251.6,245.738348,251.599045,3.513403,0.880909,0.008731,0.007647,0.847822,0.760422,8.041221
2513,2022-07-07T13:24:35+05:30,252,253,90,33.0,2022-07-07,13:24:35,13,24,35,...,253.0,246.761164,252.975054,3.482528,1.800000,0.008780,0.007678,0.842987,0.757335,8.001613
2522,2022-07-07T13:28:01+05:30,253,247,90,33.4,2022-07-07,13:28:01,13,28,1,...,253.0,246.196094,252.998419,1.491308,1.371131,0.008780,0.007659,0.842947,0.759114,8.010305
2523,2022-07-07T13:28:35+05:30,254,247,90,33.2,2022-07-07,13:28:35,13,28,35,...,253.0,246.196094,252.998419,0.925203,1.525778,0.008780,0.007659,0.842947,0.759114,8.010305

In [24]:
T3 = df.loc[df['Quality'] >= 5.5] 
T3 = T3.loc[df['Quality'] <= 6.75]
T3

,created_at,Methane,Ethanol,Humidity,Temperature,Date,Time,Hour,Mins,Secs,...,M1,E2,M2,E3,M3,M4,E4,M5,E5,Quality
2763,2022-07-07T14:44:39+05:30,281,301,89,33.3,2022-07-07,14:44:39,14,44,39,...,281.2,297.305805,281.176894,3.676955,2.589208,0.009759,0.009252,0.744764,0.602975,6.738694
2764,2022-07-07T14:44:56+05:30,279,301,89,33.2,2022-07-07,14:44:56,14,44,56,...,281.4,299.926552,281.379448,3.368086,2.650283,0.009765,0.009333,0.744063,0.595008,6.695353
2765,2022-07-07T14:45:13+05:30,286,303,89,33.4,2022-07-07,14:45:13,14,45,13,...,281.2,302.988145,281.178335,3.158481,3.007989,0.009759,0.009426,0.744762,0.585758,6.652597
2766,2022-07-07T14:45:30+05:30,280,304,89,33.4,2022-07-07,14:45:30,14,45,30,...,282.2,301.331778,282.165554,4.421764,3.223663,0.009793,0.009377,0.741301,0.590727,6.660136
2767,2022-07-07T14:45:47+05:30,280,306,89,33.3,2022-07-07,14:45:47,14,45,47,...,283.4,300.521401,283.372237,4.783304,3.039737,0.009835,0.009352,0.737110,0.593184,6.651468
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4525,2022-07-07T23:32:31+05:30,309,343,94,32.1,2022-07-07,23:32:31,23,32,31,...,309.0,344.384353,308.998705,2.223511,0.513809,0.010723,0.010714,0.647900,0.459400,5.536498
4526,2022-07-07T23:32:49+05:30,309,349,94,32.0,2022-07-07,23:32:49,23,32,49,...,309.0,344.585502,308.998705,2.252110,0.726636,0.010723,0.010720,0.647900,0.458788,5.533437
4527,2022-07-07T23:33:05+05:30,310,343,95,32.0,2022-07-07,23:33:05,23,33,5,...,309.2,344.785718,309.198187,2.252110,0.769415,0.010730,0.010727,0.647204,0.458177,5.526905
4528,2022-07-07T23:33:22+05:30,308,344,95,32.0,2022-07-07,23:33:22,23,33,22,...,309.4,344.785718,309.397927,2.414953,0.789937,0.010737,0.010727,0.646508,0.458177,5.523424
4529,2022-07-07T23:33:39+05:30,310,345,95,32.0,2022-07-07,23:33:39,23,33,39,...,309.4,345.367304,309.397927,3.186220,1.065833,0.010737,0.010745,0.646508,0.456374,5.514406

In [25]:
df.Quality[4670]

5.0713170778186605

In [26]:
Group1 = df.loc[1:1990] 
for i in range(1,len(Group1)):
    if(Group1.Quality[i] <= 9.1):
        Group1.Quality[i] = 9.2

Group1

C:\Users\naren\AppData\Local\Temp\ipykernel_15388\823617898.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Group1.Quality[i] = 9.2

,created_at,Methane,Ethanol,Humidity,Temperature,Date,Time,Hour,Mins,Secs,...,M1,E2,M2,E3,M3,M4,E4,M5,E5,Quality
1,2022-07-07T00:14:49+05:30,224,180,88,29.2,2022-07-07,00:14:49,0,14,49,...,224.0,180.000000,224.000000,0.000000,0.000000,0.007774,0.005600,0.943951,0.961168,9.525591
2,2022-07-07T00:15:24+05:30,225,183,95,29.3,2022-07-07,00:15:24,0,15,24,...,225.0,183.000000,225.000000,0.000000,0.000000,0.007808,0.005693,0.940468,0.952011,9.462392
3,2022-07-07T00:15:41+05:30,225,186,90,29.4,2022-07-07,00:15:41,0,15,41,...,222.8,185.325372,222.759077,1.863330,2.863564,0.007732,0.005768,0.948201,0.944798,9.464994
4,2022-07-07T00:16:15+05:30,217,187,90,29.8,2022-07-07,00:16:15,0,16,15,...,223.0,185.953092,222.956162,2.709982,2.931211,0.007739,0.005786,0.947509,0.942925,9.452170
5,2022-07-07T00:16:49+05:30,223,191,90,30.0,2022-07-07,00:16:49,0,16,49,...,223.4,186.963628,223.346149,2.746634,2.997332,0.007753,0.005818,0.946133,0.939857,9.429950
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1986,2022-07-07T10:45:20+05:30,232,195,89,32.5,2022-07-07,10:45:20,10,45,20,...,227.4,197.319585,227.374625,3.309381,2.866357,0.007892,0.006141,0.932152,0.908180,9.201660
1987,2022-07-07T10:45:37+05:30,227,195,89,32.6,2022-07-07,10:45:37,10,45,37,...,229.0,195.390659,228.963500,2.376552,3.122819,0.007947,0.006079,0.926599,0.914177,9.203878
1988,2022-07-07T10:45:54+05:30,226,194,89,32.5,2022-07-07,10:45:54,10,45,54,...,229.0,196.716384,228.963500,3.451377,3.297272,0.007947,0.006122,0.926599,0.910016,9.183073
1989,2022-07-07T10:46:11+05:30,233,195,89,32.6,2022-07-07,10:46:11,10,46,11,...,229.2,198.671705,229.157628,3.615522,2.991989,0.007954,0.006185,0.925912,0.903979,9.149456
1990,2022-07-07T10:46:28+05:30,227,205,89,32.7,2022-07-07,10:46:28,10,46,28,...,229.4,199.286976,229.360734,3.990990,2.943467,0.007961,0.006203,0.925210,0.902125,9.136674

In [27]:
Group2 = df.loc[1990:2800] 
for i in range(1990, 2800):
    if(Group2.Quality[i] <= 6.5):
        Group2.Quality[i] = 7.0

Group2

,created_at,Methane,Ethanol,Humidity,Temperature,Date,Time,Hour,Mins,Secs,...,M1,E2,M2,E3,M3,M4,E4,M5,E5,Quality
1990,2022-07-07T10:46:28+05:30,227,205,89,32.7,2022-07-07,10:46:28,10,46,28,...,229.4,199.286976,229.360734,3.990990,2.943467,0.007961,0.006203,0.925210,0.902125,9.136674
1991,2022-07-07T10:46:45+05:30,233,205,89,32.7,2022-07-07,10:46:45,10,46,45,...,229.6,201.508440,229.566002,4.446122,2.903791,0.007968,0.006272,0.924505,0.895377,9.099408
1992,2022-07-07T10:47:02+05:30,228,198,89,32.6,2022-07-07,10:47:02,10,47,2,...,229.6,201.721148,229.566002,4.517521,3.011976,0.007968,0.006278,0.924505,0.894747,9.096260
1993,2022-07-07T10:47:19+05:30,227,205,89,32.7,2022-07-07,10:47:19,10,47,19,...,229.8,199.705645,229.769833,4.892443,2.836900,0.007975,0.006216,0.923801,0.900875,9.123384
1994,2022-07-07T10:47:36+05:30,233,196,89,33.2,2022-07-07,10:47:36,10,47,36,...,228.8,200.082293,228.780321,4.982369,2.401666,0.007940,0.006228,0.927266,0.899690,9.134780
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2796,2022-07-07T14:54:03+05:30,285,301,89,33.4,2022-07-07,14:54:03,14,54,3,...,286.4,300.395204,286.371604,0.748331,2.967827,0.009939,0.009345,0.726662,0.593683,6.601723
2797,2022-07-07T14:54:20+05:30,285,302,89,33.2,2022-07-07,14:54:20,14,54,20,...,285.2,300.996000,285.198035,0.732120,1.117139,0.009897,0.009364,0.730796,0.591850,6.613231
2798,2022-07-07T14:54:37+05:30,286,301,89,33.5,2022-07-07,14:54:37,14,54,37,...,285.4,301.798146,285.399160,0.779744,0.779744,0.009904,0.009389,0.730097,0.589405,6.597513
2799,2022-07-07T14:54:55+05:30,286,302,89,33.2,2022-07-07,14:54:55,14,54,55,...,285.2,301.798146,285.198035,0.857904,0.709930,0.009897,0.009389,0.730796,0.589405,6.601005
2800,2022-07-07T14:55:12+05:30,285,303,89,33.2,2022-07-07,14:55:12,14,55,12,...,285.2,301.997351,285.198035,0.857904,0.709930,0.009897,0.009395,0.730796,0.588796,6.597959

In [28]:
Group3 = df.loc[2881:4570] 
for i in range(2881,4571):
    if(Group3.Quality[i] <= 5.0):
        Group3.Quality[i] = 5.5

Group3

C:\Users\naren\AppData\Local\Temp\ipykernel_15388\1028050997.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Group3.Quality[i] = 5.5

,created_at,Methane,Ethanol,Humidity,Temperature,Date,Time,Hour,Mins,Secs,...,M1,E2,M2,E3,M3,M4,E4,M5,E5,Quality
2881,2022-07-07T15:18:16+05:30,295,315,89,33.5,2022-07-07,15:18:16,15,18,16,...,295.8,319.943980,295.776759,3.433948,2.446222,0.010265,0.009955,0.693913,0.533936,6.139244
2882,2022-07-07T15:18:33+05:30,301,318,89,33.4,2022-07-07,15:18:33,15,18,33,...,297.2,317.968904,297.167286,2.849561,2.832667,0.010314,0.009893,0.689053,0.540003,6.145280
2883,2022-07-07T15:18:51+05:30,294,317,89,33.5,2022-07-07,15:18:51,15,18,51,...,297.8,316.596712,297.771230,2.489980,2.870540,0.010335,0.009849,0.686956,0.544234,6.155952
2884,2022-07-07T15:19:08+05:30,301,316,89,33.3,2022-07-07,15:19:08,15,19,8,...,297.8,316.998738,297.771230,2.174396,3.013304,0.010335,0.009862,0.686956,0.543010,6.149833
2885,2022-07-07T15:19:25+05:30,298,317,89,33.2,2022-07-07,15:19:25,15,19,25,...,296.8,319.125992,296.779352,4.186645,2.488373,0.010300,0.009930,0.690425,0.536405,6.134152
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4566,2022-07-07T23:44:11+05:30,312,348,95,32.0,2022-07-07,23:44:11,23,44,11,...,313.0,349.377828,312.992381,2.669831,1.252198,0.010862,0.010870,0.633979,0.444149,5.390636
4567,2022-07-07T23:44:29+05:30,313,355,95,32.0,2022-07-07,23:44:29,23,44,29,...,313.2,349.578953,313.193141,2.683282,1.255388,0.010869,0.010876,0.633281,0.443536,5.384086
4568,2022-07-07T23:44:46+05:30,316,348,95,32.0,2022-07-07,23:44:46,23,44,46,...,313.4,349.578953,313.394159,2.730568,1.252198,0.010876,0.010876,0.632582,0.443536,5.380594
4569,2022-07-07T23:45:03+05:30,313,349,95,32.0,2022-07-07,23:45:03,23,45,3,...,313.2,349.578953,313.191849,2.777049,1.528398,0.010869,0.010876,0.633283,0.443536,5.384097
4570,2022-07-07T23:45:20+05:30,313,348,95,32.0,2022-07-07,23:45:20,23,45,20,...,313.0,349.772454,312.991091,3.093218,1.589969,0.010862,0.010882,0.633981,0.442936,5.384583

In [29]:
Group4 = df.loc[4570:8700] 
for i in range(4570, 8700):
    if(Group4.Quality[i] >= 5.0):
        Group4.Quality[i] = 4.0
        
Group4

C:\Users\naren\AppData\Local\Temp\ipykernel_15388\4100114457.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Group4.Quality[i] = 4.0

,created_at,Methane,Ethanol,Humidity,Temperature,Date,Time,Hour,Mins,Secs,...,M1,E2,M2,E3,M3,M4,E4,M5,E5,Quality
4570,2022-07-07T23:45:20+05:30,313,348,95,32.0,2022-07-07,23:45:20,23,45,20,...,313.0,349.772454,312.991091,3.093218,1.589969,0.010862,0.010882,0.633981,0.442936,4.000000
4571,2022-07-07T23:45:37+05:30,311,348,94,32.0,2022-07-07,23:45:37,23,45,37,...,313.2,349.772454,313.186803,3.115124,2.091889,0.010869,0.010882,0.633292,0.442936,4.000000
4572,2022-07-07T23:45:54+05:30,312,356,94,32.0,2022-07-07,23:45:54,23,45,54,...,313.0,349.772454,312.986052,3.135602,2.157777,0.010862,0.010882,0.633990,0.442936,4.000000
4573,2022-07-07T23:46:11+05:30,317,348,94,32.0,2022-07-07,23:46:11,23,46,11,...,313.0,349.772454,312.986052,3.051557,2.165179,0.010862,0.010882,0.633990,0.442936,4.000000
4574,2022-07-07T23:46:28+05:30,312,349,94,32.0,2022-07-07,23:46:28,23,46,28,...,313.2,349.974033,313.188095,2.944826,1.961632,0.010869,0.010888,0.633289,0.442323,4.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8696,2022-07-08T20:05:54+05:30,358,432,93,32.5,2022-07-08,20:05:54,20,5,54,...,358.0,427.772600,357.998883,3.691070,0.497996,0.012424,0.013309,0.477233,0.204859,3.410464
8697,2022-07-08T20:06:11+05:30,357,432,93,32.4,2022-07-08,20:06:11,20,6,11,...,358.0,427.974838,357.998883,3.585526,0.536656,0.012424,0.013315,0.477233,0.204246,3.407395
8698,2022-07-08T20:06:28+05:30,358,425,93,32.4,2022-07-08,20:06:28,20,6,28,...,358.2,427.974838,358.198435,3.335866,0.536656,0.012431,0.013315,0.476538,0.204246,3.403916
8699,2022-07-08T20:06:45+05:30,359,426,93,32.4,2022-07-08,20:06:45,20,6,45,...,358.4,427.974838,358.398211,2.991989,0.565685,0.012438,0.013315,0.475841,0.204246,3.400435
8700,2022-07-08T20:07:02+05:30,359,425,93,32.3,2022-07-08,20:07:02,20,7,2,...,359.2,427.974838,359.197334,2.478709,0.794984,0.012465,0.013315,0.473056,0.204246,3.386510

In [32]:
T2 = Group4.loc[Group4['Quality'] == 4.0]
T2

,created_at,Methane,Ethanol,Humidity,Temperature,Date,Time,Hour,Mins,Secs,...,M1,E2,M2,E3,M3,M4,E4,M5,E5,Quality
4570,2022-07-07T23:45:20+05:30,313,348,95,32.0,2022-07-07,23:45:20,23,45,20,...,313.0,349.772454,312.991091,3.093218,1.589969,0.010862,0.010882,0.633981,0.442936,4.0
4571,2022-07-07T23:45:37+05:30,311,348,94,32.0,2022-07-07,23:45:37,23,45,37,...,313.2,349.772454,313.186803,3.115124,2.091889,0.010869,0.010882,0.633292,0.442936,4.0
4572,2022-07-07T23:45:54+05:30,312,356,94,32.0,2022-07-07,23:45:54,23,45,54,...,313.0,349.772454,312.986052,3.135602,2.157777,0.010862,0.010882,0.633990,0.442936,4.0
4573,2022-07-07T23:46:11+05:30,317,348,94,32.0,2022-07-07,23:46:11,23,46,11,...,313.0,349.772454,312.986052,3.051557,2.165179,0.010862,0.010882,0.633990,0.442936,4.0
4574,2022-07-07T23:46:28+05:30,312,349,94,32.0,2022-07-07,23:46:28,23,46,28,...,313.2,349.974033,313.188095,2.944826,1.961632,0.010869,0.010888,0.633289,0.442323,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4702,2022-07-08T00:27:47+05:30,321,364,95,32.0,2022-07-08,00:27:47,0,27,47,...,321.0,365.176826,320.998754,3.186220,0.848528,0.011140,0.011361,0.606104,0.395924,4.0
4703,2022-07-08T00:28:04+05:30,321,364,95,32.2,2022-07-08,00:28:04,0,28,4,...,321.4,365.378788,321.399254,2.636665,0.322490,0.011154,0.011368,0.604710,0.395311,4.0
4704,2022-07-08T00:28:21+05:30,321,364,95,32.1,2022-07-08,00:28:21,0,28,21,...,321.4,364.000000,321.399254,0.824621,0.322490,0.011154,0.011324,0.604710,0.399552,4.0
4705,2022-07-08T00:28:38+05:30,322,364,95,32.1,2022-07-08,00:28:38,0,28,38,...,321.6,364.000000,321.599253,0.632456,0.481664,0.011161,0.011324,0.604013,0.399552,4.0
4706,2022-07-08T00:28:55+05:30,322,364,95,32.0,2022-07-08,00:28:55,0,28,55,...,321.8,364.000000,321.799502,0.809938,0.572713,0.011167,0.011324,0.603316,0.399552,4.0

In [36]:
Group4.to_csv('Group4_.csv')