In [2]:
import pandas as pd
import numpy as np
import warnings
import datetime
import statistics
warnings.simplefilter(action='ignore', category=FutureWarning)

In [3]:
df = pd.read_csv("Dal_manual.csv")
df.head()

,created_at,Unnamed: 1,Methane,Ethanol,Humidity,Temperature
0,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-07-04T21:43:12+05:30,5156.0,188.0,115.0,86.0,29.1
2,2022-07-04T21:43:30+05:30,5157.0,185.0,119.0,86.0,29.0
3,2022-07-04T21:43:47+05:30,5158.0,186.0,115.0,87.0,29.1
4,2022-07-04T21:44:04+05:30,5159.0,185.0,115.0,88.0,29.3

In [4]:
df.pop("Unnamed: 1")
df = df.dropna()
df

                     created_at  Methane  Ethanol  Humidity  Temperature
1     2022-07-04T21:43:12+05:30    188.0    115.0      86.0         29.1
2     2022-07-04T21:43:30+05:30    185.0    119.0      86.0         29.0
3     2022-07-04T21:43:47+05:30    186.0    115.0      87.0         29.1
4     2022-07-04T21:44:04+05:30    185.0    115.0      88.0         29.3
5     2022-07-04T21:44:21+05:30    183.0    118.0      88.0         29.3
...                         ...      ...      ...       ...          ...
4463  2022-07-05T22:07:40+05:30    355.0    427.0      84.0         34.1
4464  2022-07-05T22:07:57+05:30    354.0    428.0      84.0         34.1
4465  2022-07-05T22:08:14+05:30    356.0    426.0      84.0         34.0
4466  2022-07-05T22:08:31+05:30    355.0    428.0      84.0         34.1
4467  2022-07-05T22:08:49+05:30    354.0    426.0      84.0         34.1

[4467 rows x 5 columns]

In [5]:
df[['Date', 'Time']] = df['created_at'].str.split('T', expand=True)
df[['Time', 'Standard']] = df['Time'].str.split('+', expand=True)

df.pop("Standard")
df

,created_at,Methane,Ethanol,Humidity,Temperature,Date,Time
1,2022-07-04T21:43:12+05:30,188.0,115.0,86.0,29.1,2022-07-04,21:43:12
2,2022-07-04T21:43:30+05:30,185.0,119.0,86.0,29.0,2022-07-04,21:43:30
3,2022-07-04T21:43:47+05:30,186.0,115.0,87.0,29.1,2022-07-04,21:43:47
4,2022-07-04T21:44:04+05:30,185.0,115.0,88.0,29.3,2022-07-04,21:44:04
5,2022-07-04T21:44:21+05:30,183.0,118.0,88.0,29.3,2022-07-04,21:44:21
...,...,...,...,...,...,...,...
4463,2022-07-05T22:07:40+05:30,355.0,427.0,84.0,34.1,2022-07-05,22:07:40
4464,2022-07-05T22:07:57+05:30,354.0,428.0,84.0,34.1,2022-07-05,22:07:57
4465,2022-07-05T22:08:14+05:30,356.0,426.0,84.0,34.0,2022-07-05,22:08:14
4466,2022-07-05T22:08:31+05:30,355.0,428.0,84.0,34.1,2022-07-05,22:08:31
4467,2022-07-05T22:08:49+05:30,354.0,426.0,84.0,34.1,2022-07-05,22:08:49

In [6]:
df['Date'] = pd.to_datetime(df.Date)
df['Time'] = pd.to_datetime(df.Time)

df.dtypes

created_at             object
Methane               float64
Ethanol               float64
Humidity              float64
Temperature           float64
Date           datetime64[ns]
Time           datetime64[ns]
dtype: object

In [7]:

df['Hour'] = df.Time.dt.hour
df['Mins'] = df.Time.dt.minute
df['Secs'] = df.Time.dt.second
df['Year'] = df.Date.dt.year
df['Month'] = df.Date.dt.month
df['Day'] = df.Date.dt.day
df['Time'] = df.Time.dt.time
df

,created_at,Methane,Ethanol,Humidity,Temperature,Date,Time,Hour,Mins,Secs,Year,Month,Day
1,2022-07-04T21:43:12+05:30,188.0,115.0,86.0,29.1,2022-07-04,21:43:12,21,43,12,2022,7,4
2,2022-07-04T21:43:30+05:30,185.0,119.0,86.0,29.0,2022-07-04,21:43:30,21,43,30,2022,7,4
3,2022-07-04T21:43:47+05:30,186.0,115.0,87.0,29.1,2022-07-04,21:43:47,21,43,47,2022,7,4
4,2022-07-04T21:44:04+05:30,185.0,115.0,88.0,29.3,2022-07-04,21:44:04,21,44,4,2022,7,4
5,2022-07-04T21:44:21+05:30,183.0,118.0,88.0,29.3,2022-07-04,21:44:21,21,44,21,2022,7,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4463,2022-07-05T22:07:40+05:30,355.0,427.0,84.0,34.1,2022-07-05,22:07:40,22,7,40,2022,7,5
4464,2022-07-05T22:07:57+05:30,354.0,428.0,84.0,34.1,2022-07-05,22:07:57,22,7,57,2022,7,5
4465,2022-07-05T22:08:14+05:30,356.0,426.0,84.0,34.0,2022-07-05,22:08:14,22,8,14,2022,7,5
4466,2022-07-05T22:08:31+05:30,355.0,428.0,84.0,34.1,2022-07-05,22:08:31,22,8,31,2022,7,5
4467,2022-07-05T22:08:49+05:30,354.0,426.0,84.0,34.1,2022-07-05,22:08:49,22,8,49,2022,7,5

In [8]:
df.mean()

Methane         266.985001
Ethanol         236.788672
Humidity         94.469666
Temperature      31.437923
Hour             10.755317
Mins             29.496306
Secs             29.554287
Year           2022.000000
Month             7.000000
Day               4.893889
dtype: float64

In [9]:
df = df.drop(df.index[4240::])
df.tail()

,created_at,Methane,Ethanol,Humidity,Temperature,Date,Time,Hour,Mins,Secs,Year,Month,Day
4236,2022-07-05T18:17:24+05:30,411.0,421.0,95.0,31.9,2022-07-05,18:17:24,18,17,24,2022,7,5
4237,2022-07-05T18:17:41+05:30,408.0,420.0,95.0,31.9,2022-07-05,18:17:41,18,17,41,2022,7,5
4238,2022-07-05T18:17:58+05:30,408.0,420.0,95.0,31.9,2022-07-05,18:17:58,18,17,58,2022,7,5
4239,2022-07-05T18:18:15+05:30,408.0,425.0,95.0,32.0,2022-07-05,18:18:15,18,18,15,2022,7,5
4240,2022-07-05T18:18:49+05:30,408.0,421.0,95.0,32.0,2022-07-05,18:18:49,18,18,49,2022,7,5

In [10]:
 df.isnull().any().any()

False

In [11]:
df['E1'] = 0
df['H1'] = 0
df['M1'] = 0
df['T1'] = 0
df['E2'] = 0
df['H2'] = 0
df['M2'] = 0
df['T2'] = 0


for i in range(3, len(df)-2):

    df.E1[i] = (( df.Ethanol[i-2] + df.Ethanol[i-1] + df.Ethanol[i] + df.Ethanol[i+1] + df.Ethanol[i+2])/5)
    df.H1[i] = (( df.Humidity[i-2] + df.Humidity[i-1] + df.Humidity[i] + df.Humidity[i+1] + df.Humidity[i+2])/5)
    df.M1[i] = (( df.Methane[i-2] + df.Methane[i-1] + df.Methane[i] + df.Methane[i+1] + df.Methane[i+2])/5)
    df.T1[i] = (( df.Temperature[i-2] + df.Temperature[i-1] + df.Temperature[i] + df.Temperature[i+1] + df.Temperature[i+2])/5)

for i in range(3, len(df)-2):

    df.E2[i] = (5 / ( (1/df.Ethanol[i-2]) + (1/df.Ethanol[i-1]) + (1/df.Ethanol[i]) + (1/df.Ethanol[i+1]) + (1/df.Ethanol[i+2])))
    df.H2[i] = (5 / ( (1/df.Humidity[i-2]) + (1/df.Humidity[i-1]) + (1/df.Humidity[i]) + (1/df.Humidity[i+1]) + (1/df.Humidity[i+2])))
    df.M2[i] = (5 / ( (1/df.Methane[i-2]) + (1/df.Methane[i-1]) + (1/df.Methane[i]) + (1/df.Methane[i+1]) + (1/df.Methane[i+2])))
    df.T2[i] = (5 / ( (1/df.Temperature[i-2]) + (1/df.Temperature[i-1]) + (1/df.Temperature[i]) + (1/df.Temperature[i+1]) + (1/df.Temperature[i+2])))
    
df.tail(20)

C:\Users\naren\AppData\Local\Temp\ipykernel_14620\1376687635.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.E1[i] = (( df.Ethanol[i-2] + df.Ethanol[i-1] + df.Ethanol[i] + df.Ethanol[i+1] + df.Ethanol[i+2])/5)
C:\Users\naren\AppData\Local\Temp\ipykernel_14620\1376687635.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.H1[i] = (( df.Humidity[i-2] + df.Humidity[i-1] + df.Humidity[i] + df.Humidity[i+1] + df.Humidity[i+2])/5)
C:\Users\naren\AppData\Local\Temp\ipykernel_14620\1376687635.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.M1[i] = (( df.Methane[i-2] + df.Methane[i-1] + df.Methane[i] + df.Methane[i+1] + df.Methane[i+2])/5)
C:\Users\naren\AppData\Local\Temp\ipykernel_14620\1376687635.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.T1[i] = (( df.Temperature[i-2] + df.Temperature[i-1] + df.Temperature[i] + df.Temperature[i+1] + df.Temperature[i+2])/5)
C:\Users\naren\AppData\Local\Temp\ipykernel_14620\1376687635.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.E2[i] = (5 / ( (1/df.Ethanol[i-2]) + (1/df.Ethanol[i-1]) + (1/df.Ethanol[i]) + (1/df.Ethanol[i+1]) + (1/df.Ethanol[i+2])))
C:\Users\naren\AppData\Local\Temp\ipykernel_14620\1376687635.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.H2[i] = (5 / ( (1/df.Humidity[i-2]) + (1/df.Humidity[i-1]) + (1/df.Humidity[i]) + (1/df.Humidity[i+1]) + (1/df.Humidity[i+2])))
C:\Users\naren\AppData\Local\Temp\ipykernel_14620\1376687635.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.M2[i] = (5 / ( (1/df.Methane[i-2]) + (1/df.Methane[i-1]) + (1/df.Methane[i]) + (1/df.Methane[i+1]) + (1/df.Methane[i+2])))
C:\Users\naren\AppData\Local\Temp\ipykernel_14620\1376687635.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.T2[i] = (5 / ( (1/df.Temperature[i-2]) + (1/df.Temperature[i-1]) + (1/df.Temperature[i]) + (1/df.Temperature[i+1]) + (1/df.Temperature[i+2])))

,created_at,Methane,Ethanol,Humidity,Temperature,Date,Time,Hour,Mins,Secs,...,Month,Day,E1,H1,M1,T1,E2,H2,M2,T2
4221,2022-07-05T18:13:07+05:30,408.0,420.0,95.0,31.9,2022-07-05,18:13:07,18,13,7,...,7,5,419.6,95.0,410.2,31.94,419.599428,95.0,410.186958,31.939925
4222,2022-07-05T18:13:24+05:30,408.0,420.0,95.0,32.0,2022-07-05,18:13:24,18,13,24,...,7,5,419.4,95.0,410.0,31.90,419.399428,95.0,409.985401,31.899875
4223,2022-07-05T18:13:42+05:30,413.0,419.0,95.0,31.9,2022-07-05,18:13:42,18,13,42,...,7,5,419.4,95.0,408.8,31.92,419.399428,95.0,408.788925,31.919824
4224,2022-07-05T18:13:59+05:30,408.0,419.0,95.0,31.8,2022-07-05,18:13:59,18,13,59,...,7,5,419.4,95.0,408.6,31.86,419.399428,95.0,408.587756,31.859294
4225,2022-07-05T18:14:16+05:30,407.0,419.0,95.0,32.0,2022-07-05,18:14:16,18,14,16,...,7,5,420.2,95.0,408.6,31.84,420.191108,95.0,408.587756,31.839420
4226,2022-07-05T18:14:33+05:30,407.0,420.0,95.0,31.6,2022-07-05,18:14:33,18,14,33,...,7,5,420.6,95.0,407.6,31.84,420.591856,95.0,407.599411,31.839420
4227,2022-07-05T18:14:50+05:30,408.0,424.0,95.0,31.9,2022-07-05,18:14:50,18,14,50,...,7,5,420.8,95.0,407.6,31.88,420.792995,95.0,407.599411,31.879319
4228,2022-07-05T18:15:07+05:30,408.0,421.0,95.0,31.9,2022-07-05,18:15:07,18,15,7,...,7,5,420.8,95.0,407.8,31.84,420.792995,95.0,407.799607,31.839420
4229,2022-07-05T18:15:24+05:30,408.0,420.0,95.0,32.0,2022-07-05,18:15:24,18,15,24,...,7,5,420.8,95.0,408.6,31.90,420.792995,95.0,408.596491,31.899875
4230,2022-07-05T18:15:41+05:30,408.0,419.0,95.0,31.8,2022-07-05,18:15:41,18,15,41,...,7,5,420.2,95.0,408.4,31.90,420.198666,95.0,408.395512,31.899875
4231,2022-07-05T18:15:58+05:30,411.0,420.0,95.0,31.9,2022-07-05,18:15:58,18,15,58,...,7,5,420.2,95.0,408.2,31.92,420.198666,95.0,408.194731,31.919824
4232,2022-07-05T18:16:15+05:30,407.0,421.0,95.0,31.9,2022-07-05,18:16:15,18,16,15,...,7,5,420.4,95.0,408.2,31.90,420.398475,95.0,408.194731,31.899875
4233,2022-07-05T18:16:32+05:30,407.0,421.0,95.0,32.0,2022-07-05,18:16:32,18,16,32,...,7,5,421.6,95.0,408.0,31.94,421.592828,95.0,407.994146,31.939925
4234,2022-07-05T18:16:50+05:30,408.0,421.0,95.0,31.9,2022-07-05,18:16:50,18,16,50,...,7,5,421.8,95.0,408.0,31.94,421.793965,95.0,407.994146,31.939925
4235,2022-07-05T18:17:07+05:30,407.0,425.0,95.0,32.0,2022-07-05,18:17:07,18,17,7,...,7,5,421.6,95.0,408.2,31.94,421.592828,95.0,408.194731,31.939925
4236,2022-07-05T18:17:24+05:30,411.0,421.0,95.0,31.9,2022-07-05,18:17:24,18,17,24,...,7,5,421.4,95.0,408.4,31.92,421.391883,95.0,408.395512,31.919950
4237,2022-07-05T18:17:41+05:30,408.0,420.0,95.0,31.9,2022-07-05,18:17:41,18,17,41,...,7,5,422.2,95.0,408.4,31.94,422.187328,95.0,408.395512,31.939925
4238,2022-07-05T18:17:58+05:30,408.0,420.0,95.0,31.9,2022-07-05,18:17:58,18,17,58,...,7,5,0.0,0.0,0.0,0.00,0.000000,0.0,0.000000,0.000000
4239,2022-07-05T18:18:15+05:30,408.0,425.0,95.0,32.0,2022-07-05,18:18:15,18,18,15,...,7,5,0.0,0.0,0.0,0.00,0.000000,0.0,0.000000,0.000000
4240,2022-07-05T18:18:49+05:30,408.0,421.0,95.0,32.0,2022-07-05,18:18:49,18,18,49,...,7,5,0.0,0.0,0.0,0.00,0.000000,0.0,0.000000,0.000000

In [12]:
for i in range(1, len(df)):
    if (df.E1[i] == 0 or df.E2[i] == 0 ):
        df.E1[i] = df.Ethanol[i]
        df.E2[i] = df.Ethanol[i]
    if (df.H1[i] == 0 or df.H2[i] == 0 ):
        df.H1[i] = df.Humidity[i]
        df.H2[i] = df.Humidity[i]
    if (df.M1[i] == 0 or df.M2[i] == 0 ):
        df.M1[i] = df.Methane[i]
        df.M2[i] = df.Methane[i]
    if (df.T1[i] == 0 or df.T2[i] == 0 ):
        df.T1[i] = df.Temperature[i]
        df.T2[i] = df.Temperature[i] 

df

,created_at,Methane,Ethanol,Humidity,Temperature,Date,Time,Hour,Mins,Secs,...,Month,Day,E1,H1,M1,T1,E2,H2,M2,T2
1,2022-07-04T21:43:12+05:30,188.0,115.0,86.0,29.1,2022-07-04,21:43:12,21,43,12,...,7,4,115.0,86.0,188.0,29.10,115.000000,86.000000,188.000000,29.100000
2,2022-07-04T21:43:30+05:30,185.0,119.0,86.0,29.0,2022-07-04,21:43:30,21,43,30,...,7,4,119.0,86.0,185.0,29.00,119.000000,86.000000,185.000000,29.000000
3,2022-07-04T21:43:47+05:30,186.0,115.0,87.0,29.1,2022-07-04,21:43:47,21,43,47,...,7,4,116.4,87.0,185.4,29.16,116.374079,86.990804,185.385781,29.159506
4,2022-07-04T21:44:04+05:30,185.0,115.0,88.0,29.3,2022-07-04,21:44:04,21,44,4,...,7,4,116.6,87.4,184.8,29.18,116.577477,87.392620,184.794781,29.179533
5,2022-07-04T21:44:21+05:30,183.0,118.0,88.0,29.3,2022-07-04,21:44:21,21,44,21,...,7,4,116.0,88.0,185.2,29.28,115.989743,87.995454,185.190471,29.279400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4236,2022-07-05T18:17:24+05:30,411.0,421.0,95.0,31.9,2022-07-05,18:17:24,18,17,24,...,7,5,421.4,95.0,408.4,31.92,421.391883,95.000000,408.395512,31.919950
4237,2022-07-05T18:17:41+05:30,408.0,420.0,95.0,31.9,2022-07-05,18:17:41,18,17,41,...,7,5,422.2,95.0,408.4,31.94,422.187328,95.000000,408.395512,31.939925
4238,2022-07-05T18:17:58+05:30,408.0,420.0,95.0,31.9,2022-07-05,18:17:58,18,17,58,...,7,5,420.0,95.0,408.0,31.90,420.000000,95.000000,408.000000,31.900000
4239,2022-07-05T18:18:15+05:30,408.0,425.0,95.0,32.0,2022-07-05,18:18:15,18,18,15,...,7,5,425.0,95.0,408.0,32.00,425.000000,95.000000,408.000000,32.000000
4240,2022-07-05T18:18:49+05:30,408.0,421.0,95.0,32.0,2022-07-05,18:18:49,18,18,49,...,7,5,0.0,0.0,0.0,0.00,0.000000,0.000000,0.000000,0.000000

In [13]:
df.pop("H1")
df.pop("T1")
df.pop("H2")
df.pop("T2")

1       29.100000
2       29.000000
3       29.159506
4       29.179533
5       29.279400
          ...
4236    31.919950
4237    31.939925
4238    31.900000
4239    32.000000
4240     0.000000
Name: T2, Length: 4240, dtype: float64

In [14]:
df['E3'] = 0
df['M3'] = 0
for i in range(3, len(df)-2):

    df.E3[i] = (( (df.Ethanol[i-2]-df.E1[i-2])**2 + (df.Ethanol[i-1]-df.E1[i-1])**2 + (df.Ethanol[i]-df.E1[i])**2 +(df.Ethanol[i+1]-df.E1[i+1])**2+(df.Ethanol[i+2]-df.E1[i+2])**2 )/5)
    df.M3[i] = (( (df.Methane[i-2]-df.M1[i-2])**2 + (df.Methane[i-1]-df.M1[i-1])**2 + (df.Methane[i]-df.M1[i])**2 +(df.Methane[i+1]-df.M1[i+1])**2+(df.Methane[i+2]-df.M1[i+2])**2 )/5)

C:\Users\naren\AppData\Local\Temp\ipykernel_14620\2314811916.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.E3[i] = (( (df.Ethanol[i-2]-df.E1[i-2])**2 + (df.Ethanol[i-1]-df.E1[i-1])**2 + (df.Ethanol[i]-df.E1[i])**2 +(df.Ethanol[i+1]-df.E1[i+1])**2+(df.Ethanol[i+2]-df.E1[i+2])**2 )/5)
C:\Users\naren\AppData\Local\Temp\ipykernel_14620\2314811916.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.M3[i] = (( (df.Methane[i-2]-df.M1[i-2])**2 + (df.Methane[i-1]-df.M1[i-1])**2 + (df.Methane[i]-df.M1[i])**2 +(df.Methane[i+1]-df.M1[i+1])**2+(df.Methane[i+2]-df.M1[i+2])**2 )/5)

In [15]:
df['M3'] = (df.M3**(1/2))
df['E3'] = (df.E3**(1/2))
df

,created_at,Methane,Ethanol,Humidity,Temperature,Date,Time,Hour,Mins,Secs,Year,Month,Day,E1,M1,E2,M2,E3,M3
1,2022-07-04T21:43:12+05:30,188.0,115.0,86.0,29.1,2022-07-04,21:43:12,21,43,12,2022,7,4,115.0,188.0,115.000000,188.000000,0.000000,0.000000
2,2022-07-04T21:43:30+05:30,185.0,119.0,86.0,29.0,2022-07-04,21:43:30,21,43,30,2022,7,4,119.0,185.0,119.000000,185.000000,0.000000,0.000000
3,2022-07-04T21:43:47+05:30,186.0,115.0,87.0,29.1,2022-07-04,21:43:47,21,43,47,2022,7,4,116.4,185.4,116.374079,185.385781,1.305374,1.023719
4,2022-07-04T21:44:04+05:30,185.0,115.0,88.0,29.3,2022-07-04,21:44:04,21,44,4,2022,7,4,116.6,184.8,116.577477,184.794781,1.305374,1.058301
5,2022-07-04T21:44:21+05:30,183.0,118.0,88.0,29.3,2022-07-04,21:44:21,21,44,21,2022,7,4,116.0,185.2,115.989743,185.190471,1.488624,1.091788
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4236,2022-07-05T18:17:24+05:30,411.0,421.0,95.0,31.9,2022-07-05,18:17:24,18,17,24,2022,7,5,421.4,408.4,421.391883,408.395512,1.854724,1.293058
4237,2022-07-05T18:17:41+05:30,408.0,420.0,95.0,31.9,2022-07-05,18:17:41,18,17,41,2022,7,5,422.2,408.4,422.187328,408.395512,1.819890,1.293058
4238,2022-07-05T18:17:58+05:30,408.0,420.0,95.0,31.9,2022-07-05,18:17:58,18,17,58,2022,7,5,420.0,408.0,420.000000,408.000000,0.000000,0.000000
4239,2022-07-05T18:18:15+05:30,408.0,425.0,95.0,32.0,2022-07-05,18:18:15,18,18,15,2022,7,5,425.0,408.0,425.000000,408.000000,0.000000,0.000000
4240,2022-07-05T18:18:49+05:30,408.0,421.0,95.0,32.0,2022-07-05,18:18:49,18,18,49,2022,7,5,0.0,0.0,0.000000,0.000000,0.000000,0.000000

In [16]:
df.loc[df['M3'] >= 2]

,created_at,Methane,Ethanol,Humidity,Temperature,Date,Time,Hour,Mins,Secs,Year,Month,Day,E1,M1,E2,M2,E3,M3
7,2022-07-04T21:44:55+05:30,187.0,116.0,89.0,29.5,2022-07-04,21:44:55,21,44,55,2022,7,4,117.6,187.6,117.531770,187.512887,3.031831,2.276840
8,2022-07-04T21:45:12+05:30,188.0,115.0,89.0,29.4,2022-07-04,21:45:12,21,45,12,2022,7,4,117.4,189.0,117.331998,188.939405,3.006659,2.723233
9,2022-07-04T21:45:29+05:30,195.0,123.0,90.0,29.5,2022-07-04,21:45:29,21,45,29,2022,7,4,117.2,190.6,117.125962,190.552755,3.913055,3.513403
10,2022-07-04T21:45:46+05:30,190.0,117.0,90.0,29.6,2022-07-04,21:45:46,21,45,46,2022,7,4,118.8,194.0,118.672078,193.844883,4.362568,4.155960
11,2022-07-04T21:46:04+05:30,193.0,115.0,91.0,29.6,2022-07-04,21:46:04,21,46,4,2022,7,4,120.6,198.0,120.476777,197.766322,4.591296,4.926662
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4221,2022-07-05T18:13:07+05:30,408.0,420.0,95.0,31.9,2022-07-05,18:13:07,18,13,7,2022,7,5,419.6,410.2,419.599428,410.186958,0.489898,2.862167
4222,2022-07-05T18:13:24+05:30,408.0,420.0,95.0,32.0,2022-07-05,18:13:24,18,13,24,2022,7,5,419.4,410.0,419.399428,409.985401,0.489898,2.873326
4223,2022-07-05T18:13:42+05:30,413.0,419.0,95.0,31.9,2022-07-05,18:13:42,18,13,42,2022,7,5,419.4,408.8,419.399428,408.788925,0.675278,2.424871
4224,2022-07-05T18:13:59+05:30,408.0,419.0,95.0,31.8,2022-07-05,18:13:59,18,13,59,2022,7,5,419.4,408.6,419.399428,408.587756,0.704273,2.232487
4225,2022-07-05T18:14:16+05:30,407.0,419.0,95.0,32.0,2022-07-05,18:14:16,18,14,16,2022,7,5,420.2,408.6,420.191108,408.587756,1.572260,2.053290

In [17]:
df.dtypes

created_at             object
Methane               float64
Ethanol               float64
Humidity              float64
Temperature           float64
Date           datetime64[ns]
Time                   object
Hour                    int64
Mins                    int64
Secs                    int64
Year                    int64
Month                   int64
Day                     int64
E1                    float64
M1                    float64
E2                    float64
M2                    float64
E3                    float64
M3                    float64
dtype: object

In [18]:

'''cols = ['Methane', 'Ethanol', 'Humidity', 'Temperature', 'Date', 'Time', 'E1', 'E2', 'E3', 'M1', 'M2', 'M3']
df_new = df[cols]
df_new'''

"cols = ['Methane', 'Ethanol', 'Humidity', 'Temperature', 'Date', 'Time', 'E1', 'E2', 'E3', 'M1', 'M2', 'M3']\ndf_new = df[cols]\ndf_new"

In [19]:
df.loc[df['Methane'] <= 195]

,created_at,Methane,Ethanol,Humidity,Temperature,Date,Time,Hour,Mins,Secs,Year,Month,Day,E1,M1,E2,M2,E3,M3
1,2022-07-04T21:43:12+05:30,188.0,115.0,86.0,29.1,2022-07-04,21:43:12,21,43,12,2022,7,4,115.0,188.0,115.000000,188.000000,0.000000,0.000000
2,2022-07-04T21:43:30+05:30,185.0,119.0,86.0,29.0,2022-07-04,21:43:30,21,43,30,2022,7,4,119.0,185.0,119.000000,185.000000,0.000000,0.000000
3,2022-07-04T21:43:47+05:30,186.0,115.0,87.0,29.1,2022-07-04,21:43:47,21,43,47,2022,7,4,116.4,185.4,116.374079,185.385781,1.305374,1.023719
4,2022-07-04T21:44:04+05:30,185.0,115.0,88.0,29.3,2022-07-04,21:44:04,21,44,4,2022,7,4,116.6,184.8,116.577477,184.794781,1.305374,1.058301
5,2022-07-04T21:44:21+05:30,183.0,118.0,88.0,29.3,2022-07-04,21:44:21,21,44,21,2022,7,4,116.0,185.2,115.989743,185.190471,1.488624,1.091788
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
903,2022-07-05T02:12:10+05:30,195.0,168.0,95.0,31.2,2022-07-05,02:12:10,2,12,10,2022,7,5,163.6,197.2,163.554787,197.159048,3.349030,2.920274
904,2022-07-05T02:12:27+05:30,195.0,162.0,95.0,31.4,2022-07-05,02:12:27,2,12,27,2022,7,5,165.0,198.8,164.968482,198.742838,3.094511,3.516817
1032,2022-07-05T02:49:29+05:30,195.0,172.0,95.0,31.2,2022-07-05,02:49:29,2,49,29,2022,7,5,167.8,197.6,167.723026,197.576619,3.148333,1.286857
1036,2022-07-05T02:50:37+05:30,194.0,166.0,95.0,31.2,2022-07-05,02:50:37,2,50,37,2022,7,5,166.8,196.4,166.754263,196.386577,2.150349,1.533623
1040,2022-07-05T02:51:46+05:30,195.0,167.0,95.0,31.3,2022-07-05,02:51:46,2,51,46,2022,7,5,164.8,196.8,164.779678,196.793074,2.116601,0.853229

In [20]:
 df.loc[(df["Methane"] <= 195) & (df["Ethanol"] <= 140)]

,created_at,Methane,Ethanol,Humidity,Temperature,Date,Time,Hour,Mins,Secs,Year,Month,Day,E1,M1,E2,M2,E3,M3
1,2022-07-04T21:43:12+05:30,188.0,115.0,86.0,29.1,2022-07-04,21:43:12,21,43,12,2022,7,4,115.0,188.0,115.000000,188.000000,0.000000,0.000000
2,2022-07-04T21:43:30+05:30,185.0,119.0,86.0,29.0,2022-07-04,21:43:30,21,43,30,2022,7,4,119.0,185.0,119.000000,185.000000,0.000000,0.000000
3,2022-07-04T21:43:47+05:30,186.0,115.0,87.0,29.1,2022-07-04,21:43:47,21,43,47,2022,7,4,116.4,185.4,116.374079,185.385781,1.305374,1.023719
4,2022-07-04T21:44:04+05:30,185.0,115.0,88.0,29.3,2022-07-04,21:44:04,21,44,4,2022,7,4,116.6,184.8,116.577477,184.794781,1.305374,1.058301
5,2022-07-04T21:44:21+05:30,183.0,118.0,88.0,29.3,2022-07-04,21:44:21,21,44,21,2022,7,4,116.0,185.2,115.989743,185.190471,1.488624,1.091788
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
328,2022-07-04T23:17:31+05:30,195.0,140.0,95.0,31.7,2022-07-04,23:17:31,23,17,31,2022,7,4,140.0,195.6,139.950295,195.592643,2.836900,0.779744
332,2022-07-04T23:18:39+05:30,195.0,140.0,95.0,31.5,2022-07-04,23:18:39,23,18,39,2022,7,4,140.0,195.6,139.991489,195.596739,1.461506,0.644981
333,2022-07-04T23:18:56+05:30,195.0,139.0,95.0,31.5,2022-07-04,23:18:56,23,18,56,2022,7,4,139.2,195.6,139.195969,195.596739,1.682855,0.644981
334,2022-07-04T23:19:13+05:30,195.0,139.0,95.0,31.6,2022-07-04,23:19:13,23,19,13,2022,7,4,140.8,195.6,140.708405,195.596739,3.223663,0.737564
366,2022-07-04T23:28:37+05:30,195.0,140.0,95.0,31.4,2022-07-04,23:28:37,23,28,37,2022,7,4,141.2,196.8,141.157316,196.791079,2.259203,1.138420

In [21]:
from sklearn import preprocessing

df['M4'] = 0
df['E4'] = 0
var1 = df.M1
a = preprocessing.normalize([var1])
var2 = df.E1
b = preprocessing.normalize([var2])

np.shape(b)
np.shape(a)

(1, 4240)

In [22]:
a1 = a.T
b1 = b.T
np.shape(a1)
np.shape(b1)

(4240, 1)

In [23]:
for i in range(1, len(df)):

        df.M4[i] = a1[i]
        df.E4[i] = b1[i]
df

C:\Users\naren\AppData\Local\Temp\ipykernel_14620\4054316011.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.M4[i] = a1[i]
C:\Users\naren\AppData\Local\Temp\ipykernel_14620\4054316011.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.E4[i] = b1[i]

,created_at,Methane,Ethanol,Humidity,Temperature,Date,Time,Hour,Mins,Secs,...,Month,Day,E1,M1,E2,M2,E3,M3,M4,E4
1,2022-07-04T21:43:12+05:30,188.0,115.0,86.0,29.1,2022-07-04,21:43:12,21,43,12,...,7,4,115.0,188.0,115.000000,188.000000,0.000000,0.000000,0.010426,0.007461
2,2022-07-04T21:43:30+05:30,185.0,119.0,86.0,29.0,2022-07-04,21:43:30,21,43,30,...,7,4,119.0,185.0,119.000000,185.000000,0.000000,0.000000,0.010449,0.007298
3,2022-07-04T21:43:47+05:30,186.0,115.0,87.0,29.1,2022-07-04,21:43:47,21,43,47,...,7,4,116.4,185.4,116.374079,185.385781,1.305374,1.023719,0.010415,0.007311
4,2022-07-04T21:44:04+05:30,185.0,115.0,88.0,29.3,2022-07-04,21:44:04,21,44,4,...,7,4,116.6,184.8,116.577477,184.794781,1.305374,1.058301,0.010438,0.007273
5,2022-07-04T21:44:21+05:30,183.0,118.0,88.0,29.3,2022-07-04,21:44:21,21,44,21,...,7,4,116.0,185.2,115.989743,185.190471,1.488624,1.091788,0.010460,0.007273
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4236,2022-07-05T18:17:24+05:30,411.0,421.0,95.0,31.9,2022-07-05,18:17:24,18,17,24,...,7,5,421.4,408.4,421.391883,408.395512,1.854724,1.293058,0.023017,0.026471
4237,2022-07-05T18:17:41+05:30,408.0,420.0,95.0,31.9,2022-07-05,18:17:41,18,17,41,...,7,5,422.2,408.4,422.187328,408.395512,1.819890,1.293058,0.022995,0.026333
4238,2022-07-05T18:17:58+05:30,408.0,420.0,95.0,31.9,2022-07-05,18:17:58,18,17,58,...,7,5,420.0,408.0,420.000000,408.000000,0.000000,0.000000,0.022995,0.026646
4239,2022-07-05T18:18:15+05:30,408.0,425.0,95.0,32.0,2022-07-05,18:18:15,18,18,15,...,7,5,425.0,408.0,425.000000,408.000000,0.000000,0.000000,0.000000,0.000000
4240,2022-07-05T18:18:49+05:30,408.0,421.0,95.0,32.0,2022-07-05,18:18:49,18,18,49,...,7,5,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [24]:
df['M5'] = 0

for i in range(1, len(df)):
        df.M5[i] = 1- ( ((df.M1[i]+df.M2[i])/2 - min(df.Methane)) / (500 - min(df.Methane)) ) - df.M4[i]
        
df

C:\Users\naren\AppData\Local\Temp\ipykernel_14620\3261091522.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.M5[i] = 1- ( ((df.M1[i]+df.M2[i])/2 - min(df.Methane)) / (500 - min(df.Methane)) ) - df.M4[i]

,created_at,Methane,Ethanol,Humidity,Temperature,Date,Time,Hour,Mins,Secs,...,Day,E1,M1,E2,M2,E3,M3,M4,E4,M5
1,2022-07-04T21:43:12+05:30,188.0,115.0,86.0,29.1,2022-07-04,21:43:12,21,43,12,...,4,115.0,188.0,115.000000,188.000000,0.000000,0.000000,0.010426,0.007461,0.973801
2,2022-07-04T21:43:30+05:30,185.0,119.0,86.0,29.0,2022-07-04,21:43:30,21,43,30,...,4,119.0,185.0,119.000000,185.000000,0.000000,0.000000,0.010449,0.007298,0.983242
3,2022-07-04T21:43:47+05:30,186.0,115.0,87.0,29.1,2022-07-04,21:43:47,21,43,47,...,4,116.4,185.4,116.374079,185.385781,1.305374,1.023719,0.010415,0.007311,0.982036
4,2022-07-04T21:44:04+05:30,185.0,115.0,88.0,29.3,2022-07-04,21:44:04,21,44,4,...,4,116.6,184.8,116.577477,184.794781,1.305374,1.058301,0.010438,0.007273,0.983892
5,2022-07-04T21:44:21+05:30,183.0,118.0,88.0,29.3,2022-07-04,21:44:21,21,44,21,...,4,116.0,185.2,115.989743,185.190471,1.488624,1.091788,0.010460,0.007273,0.982615
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4236,2022-07-05T18:17:24+05:30,411.0,421.0,95.0,31.9,2022-07-05,18:17:24,18,17,24,...,5,421.4,408.4,421.391883,408.395512,1.854724,1.293058,0.023017,0.026471,0.265949
4237,2022-07-05T18:17:41+05:30,408.0,420.0,95.0,31.9,2022-07-05,18:17:41,18,17,41,...,5,422.2,408.4,422.187328,408.395512,1.819890,1.293058,0.022995,0.026333,0.265972
4238,2022-07-05T18:17:58+05:30,408.0,420.0,95.0,31.9,2022-07-05,18:17:58,18,17,58,...,5,420.0,408.0,420.000000,408.000000,0.000000,0.000000,0.022995,0.026646,0.267226
4239,2022-07-05T18:18:15+05:30,408.0,425.0,95.0,32.0,2022-07-05,18:18:15,18,18,15,...,5,425.0,408.0,425.000000,408.000000,0.000000,0.000000,0.000000,0.000000,0.290221
4240,2022-07-05T18:18:49+05:30,408.0,421.0,95.0,32.0,2022-07-05,18:18:49,18,18,49,...,5,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [25]:
df['E5'] = 0

for i in range(1, len(df)):
        df.E5[i] = 1 - ( ((df.E1[i]+df.E2[i])/2 - min(df.Ethanol)) / (500 - min(df.Ethanol)) ) - df.E4[i]
        
df

C:\Users\naren\AppData\Local\Temp\ipykernel_14620\2547204966.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.E5[i] = 1 - ( ((df.E1[i]+df.E2[i])/2 - min(df.Ethanol)) / (500 - min(df.Ethanol)) ) - df.E4[i]

,created_at,Methane,Ethanol,Humidity,Temperature,Date,Time,Hour,Mins,Secs,...,E1,M1,E2,M2,E3,M3,M4,E4,M5,E5
1,2022-07-04T21:43:12+05:30,188.0,115.0,86.0,29.1,2022-07-04,21:43:12,21,43,12,...,115.0,188.0,115.000000,188.000000,0.000000,0.000000,0.010426,0.007461,0.973801,0.992539
2,2022-07-04T21:43:30+05:30,185.0,119.0,86.0,29.0,2022-07-04,21:43:30,21,43,30,...,119.0,185.0,119.000000,185.000000,0.000000,0.000000,0.010449,0.007298,0.983242,0.982312
3,2022-07-04T21:43:47+05:30,186.0,115.0,87.0,29.1,2022-07-04,21:43:47,21,43,47,...,116.4,185.4,116.374079,185.385781,1.305374,1.023719,0.010415,0.007311,0.982036,0.989087
4,2022-07-04T21:44:04+05:30,185.0,115.0,88.0,29.3,2022-07-04,21:44:04,21,44,4,...,116.6,184.8,116.577477,184.794781,1.305374,1.058301,0.010438,0.007273,0.983892,0.988601
5,2022-07-04T21:44:21+05:30,183.0,118.0,88.0,29.3,2022-07-04,21:44:21,21,44,21,...,116.0,185.2,115.989743,185.190471,1.488624,1.091788,0.010460,0.007273,0.982615,0.990143
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4236,2022-07-05T18:17:24+05:30,411.0,421.0,95.0,31.9,2022-07-05,18:17:24,18,17,24,...,421.4,408.4,421.391883,408.395512,1.854724,1.293058,0.023017,0.026471,0.265949,0.177696
4237,2022-07-05T18:17:41+05:30,408.0,420.0,95.0,31.9,2022-07-05,18:17:41,18,17,41,...,422.2,408.4,422.187328,408.395512,1.819890,1.293058,0.022995,0.026333,0.265972,0.175761
4238,2022-07-05T18:17:58+05:30,408.0,420.0,95.0,31.9,2022-07-05,18:17:58,18,17,58,...,420.0,408.0,420.000000,408.000000,0.000000,0.000000,0.022995,0.026646,0.267226,0.181146
4239,2022-07-05T18:18:15+05:30,408.0,425.0,95.0,32.0,2022-07-05,18:18:15,18,18,15,...,425.0,408.0,425.000000,408.000000,0.000000,0.000000,0.000000,0.000000,0.290221,0.194805
4240,2022-07-05T18:18:49+05:30,408.0,421.0,95.0,32.0,2022-07-05,18:18:49,18,18,49,...,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [26]:
df['Quality'] = 0

for i in range(1, len(df)):
    df.Quality[i] = ((df.M5[i] + df.E5[i])/ 2)*10
    
df

C:\Users\naren\AppData\Local\Temp\ipykernel_14620\1422584127.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Quality[i] = ((df.M5[i] + df.E5[i])/ 2)*10

,created_at,Methane,Ethanol,Humidity,Temperature,Date,Time,Hour,Mins,Secs,...,M1,E2,M2,E3,M3,M4,E4,M5,E5,Quality
1,2022-07-04T21:43:12+05:30,188.0,115.0,86.0,29.1,2022-07-04,21:43:12,21,43,12,...,188.0,115.000000,188.000000,0.000000,0.000000,0.010426,0.007461,0.973801,0.992539,9.831698
2,2022-07-04T21:43:30+05:30,185.0,119.0,86.0,29.0,2022-07-04,21:43:30,21,43,30,...,185.0,119.000000,185.000000,0.000000,0.000000,0.010449,0.007298,0.983242,0.982312,9.827771
3,2022-07-04T21:43:47+05:30,186.0,115.0,87.0,29.1,2022-07-04,21:43:47,21,43,47,...,185.4,116.374079,185.385781,1.305374,1.023719,0.010415,0.007311,0.982036,0.989087,9.855615
4,2022-07-04T21:44:04+05:30,185.0,115.0,88.0,29.3,2022-07-04,21:44:04,21,44,4,...,184.8,116.577477,184.794781,1.305374,1.058301,0.010438,0.007273,0.983892,0.988601,9.862464
5,2022-07-04T21:44:21+05:30,183.0,118.0,88.0,29.3,2022-07-04,21:44:21,21,44,21,...,185.2,115.989743,185.190471,1.488624,1.091788,0.010460,0.007273,0.982615,0.990143,9.863789
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4236,2022-07-05T18:17:24+05:30,411.0,421.0,95.0,31.9,2022-07-05,18:17:24,18,17,24,...,408.4,421.391883,408.395512,1.854724,1.293058,0.023017,0.026471,0.265949,0.177696,2.218222
4237,2022-07-05T18:17:41+05:30,408.0,420.0,95.0,31.9,2022-07-05,18:17:41,18,17,41,...,408.4,422.187328,408.395512,1.819890,1.293058,0.022995,0.026333,0.265972,0.175761,2.208665
4238,2022-07-05T18:17:58+05:30,408.0,420.0,95.0,31.9,2022-07-05,18:17:58,18,17,58,...,408.0,420.000000,408.000000,0.000000,0.000000,0.022995,0.026646,0.267226,0.181146,2.241860
4239,2022-07-05T18:18:15+05:30,408.0,425.0,95.0,32.0,2022-07-05,18:18:15,18,18,15,...,408.0,425.000000,408.000000,0.000000,0.000000,0.000000,0.000000,0.290221,0.194805,2.425130
4240,2022-07-05T18:18:49+05:30,408.0,421.0,95.0,32.0,2022-07-05,18:18:49,18,18,49,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [27]:
T1 = df.loc[df['Quality'] >= 9.15]
T1

,created_at,Methane,Ethanol,Humidity,Temperature,Date,Time,Hour,Mins,Secs,...,M1,E2,M2,E3,M3,M4,E4,M5,E5,Quality
1,2022-07-04T21:43:12+05:30,188.0,115.0,86.0,29.1,2022-07-04,21:43:12,21,43,12,...,188.0,115.000000,188.000000,0.000000,0.000000,0.010426,0.007461,0.973801,0.992539,9.831698
2,2022-07-04T21:43:30+05:30,185.0,119.0,86.0,29.0,2022-07-04,21:43:30,21,43,30,...,185.0,119.000000,185.000000,0.000000,0.000000,0.010449,0.007298,0.983242,0.982312,9.827771
3,2022-07-04T21:43:47+05:30,186.0,115.0,87.0,29.1,2022-07-04,21:43:47,21,43,47,...,185.4,116.374079,185.385781,1.305374,1.023719,0.010415,0.007311,0.982036,0.989087,9.855615
4,2022-07-04T21:44:04+05:30,185.0,115.0,88.0,29.3,2022-07-04,21:44:04,21,44,4,...,184.8,116.577477,184.794781,1.305374,1.058301,0.010438,0.007273,0.983892,0.988601,9.862464
5,2022-07-04T21:44:21+05:30,183.0,118.0,88.0,29.3,2022-07-04,21:44:21,21,44,21,...,185.2,115.989743,185.190471,1.488624,1.091788,0.010460,0.007273,0.982615,0.990143,9.863789
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,2022-07-05T02:07:19+05:30,193.0,160.0,95.0,31.1,2022-07-05,02:07:19,2,7,19,...,193.2,159.598494,193.176359,0.848528,1.229634,0.010844,0.009994,0.957017,0.874164,9.155905
887,2022-07-05T02:07:36+05:30,190.0,159.0,95.0,31.3,2022-07-05,02:07:36,2,7,36,...,192.4,159.398496,192.386298,1.299231,1.268069,0.010798,0.010082,0.959570,0.874596,9.170829
888,2022-07-05T02:07:53+05:30,192.0,159.0,95.0,31.1,2022-07-05,02:07:53,2,7,53,...,191.6,160.740959,191.594564,2.819929,1.179830,0.010776,0.010107,0.962103,0.871009,9.165561
889,2022-07-05T02:08:10+05:30,192.0,159.0,95.0,31.2,2022-07-05,02:08:10,2,8,10,...,191.2,161.140680,191.197067,2.814249,1.258571,0.010798,0.010119,0.963339,0.869958,9.166482
890,2022-07-05T02:08:27+05:30,191.0,167.0,95.0,31.2,2022-07-05,02:08:27,2,8,27,...,191.6,161.345077,191.598746,3.039737,0.657267,0.010821,0.010157,0.962052,0.869395,9.157233

In [28]:
T2 = df.loc[df['Quality'] >= 8.75]
T2 = T2.loc[df['Quality'] <=9.15]
T2

,created_at,Methane,Ethanol,Humidity,Temperature,Date,Time,Hour,Mins,Secs,...,M1,E2,M2,E3,M3,M4,E4,M5,E5,Quality
466,2022-07-04T23:57:41+05:30,202.0,154.0,95.0,31.4,2022-07-04,23:57:41,23,57,41,...,200.2,151.522224,200.191187,3.224903,0.975705,0.011328,0.009530,0.934427,0.895506,9.149665
467,2022-07-04T23:57:58+05:30,201.0,153.0,95.0,31.5,2022-07-04,23:57:58,23,57,58,...,201.0,151.954303,200.996020,2.154066,1.311488,0.011306,0.009442,0.931918,0.894513,9.132158
519,2022-07-05T00:15:55+05:30,203.0,147.0,95.0,31.5,2022-07-05,00:15:55,0,15,55,...,201.2,151.153678,201.187272,3.188730,1.397140,0.011339,0.009442,0.931267,0.896592,9.139297
520,2022-07-05T00:16:12+05:30,203.0,154.0,95.0,31.3,2022-07-05,00:16:12,0,16,12,...,201.2,150.534525,201.187272,3.459480,1.442221,0.011339,0.009392,0.931267,0.898225,9.147464
551,2022-07-05T00:26:11+05:30,200.0,151.0,95.0,31.2,2022-07-05,00:26:11,0,26,11,...,198.8,153.680281,198.772928,4.971921,2.107131,0.011227,0.009593,0.938974,0.889784,9.143786
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1223,2022-07-05T03:43:54+05:30,209.0,167.0,95.0,31.2,2022-07-05,03:43:54,3,43,54,...,209.4,168.784839,209.398855,1.715809,0.721110,0.011824,0.010571,0.904897,0.849709,8.773028
1224,2022-07-05T03:44:11+05:30,209.0,169.0,95.0,31.2,2022-07-05,03:44:11,3,44,11,...,209.8,168.589068,209.797334,1.102724,0.600000,0.011835,0.010621,0.903626,0.850172,8.768993
1225,2022-07-05T03:44:28+05:30,210.0,170.0,95.0,31.2,2022-07-05,03:44:28,3,44,28,...,210.0,169.389072,209.996190,0.912140,0.565685,0.011847,0.010621,0.902986,0.848095,8.755402
1226,2022-07-05T03:44:45+05:30,211.0,170.0,95.0,31.2,2022-07-05,03:44:45,3,44,45,...,210.2,169.389072,210.197333,2.276840,0.698570,0.011869,0.010709,0.902331,0.848007,8.751687
1268,2022-07-05T03:56:43+05:30,214.0,169.0,95.0,31.3,2022-07-05,03:56:43,3,56,43,...,210.2,169.389239,210.182334,1.587451,2.091889,0.011835,0.010659,0.902388,0.848057,8.752224

In [29]:
T3 = df.loc[df['Quality'] >= 7.8] 
T3 = T3.loc[df['Quality'] <= 8.75]
T3

,created_at,Methane,Ethanol,Humidity,Temperature,Date,Time,Hour,Mins,Secs,...,M1,E2,M2,E3,M3,M4,E4,M5,E5,Quality
1135,2022-07-05T03:18:50+05:30,213.0,163.0,95.0,31.2,2022-07-05,03:18:50,3,18,50,...,211.4,168.508480,211.372410,3.626569,1.850405,0.011903,0.010583,0.898551,0.850315,8.744326
1136,2022-07-05T03:19:07+05:30,210.0,174.0,95.0,31.2,2022-07-05,03:19:07,3,19,7,...,211.2,168.711141,211.165078,3.657321,2.517141,0.011937,0.010496,0.899159,0.849880,8.745194
1138,2022-07-05T03:19:41+05:30,207.0,168.0,95.0,31.3,2022-07-05,03:19:41,3,19,41,...,211.0,169.518741,210.956475,3.719140,2.852367,0.011858,0.010546,0.899883,0.847742,8.738121
1173,2022-07-05T03:29:39+05:30,208.0,175.0,95.0,31.2,2022-07-05,03:29:39,3,29,39,...,209.6,170.731707,209.591209,3.635382,1.604992,0.011869,0.010709,0.904233,0.844445,8.743389
1174,2022-07-05T03:29:56+05:30,208.0,175.0,95.0,31.4,2022-07-05,03:29:56,3,29,56,...,210.6,170.731707,210.559513,3.818900,2.657819,0.011892,0.010834,0.901106,0.844320,8.727127
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2501,2022-07-05T09:49:59+05:30,243.0,199.0,95.0,31.2,2022-07-05,09:49:59,9,49,59,...,243.2,199.326516,243.166564,4.125045,2.553429,0.013797,0.012514,0.796351,0.768360,7.823554
2505,2022-07-05T09:51:08+05:30,243.0,207.0,95.0,31.2,2022-07-05,09:51:08,9,51,8,...,243.8,199.530442,243.789602,4.325737,1.748142,0.013808,0.012514,0.794410,0.767836,7.811230
2508,2022-07-05T09:51:59+05:30,249.0,197.0,95.0,31.1,2022-07-05,09:51:59,9,51,59,...,244.8,197.995960,244.779942,1.574802,2.209072,0.013785,0.012477,0.791293,0.771944,7.816188
2509,2022-07-05T09:52:16+05:30,245.0,199.0,95.0,31.2,2022-07-05,09:52:16,9,52,16,...,244.6,198.986019,244.576333,1.232883,2.114710,0.013763,0.012539,0.791953,0.769297,7.806247
2511,2022-07-05T09:52:50+05:30,242.0,202.0,95.0,30.8,2022-07-05,09:52:50,9,52,50,...,243.4,200.576968,243.389126,1.786617,1.417039,0.013740,0.012602,0.795740,0.765090,7.804153

In [30]:
T4 = df.loc[df['Quality'] <= 7.8] 
T4

,created_at,Methane,Ethanol,Humidity,Temperature,Date,Time,Hour,Mins,Secs,...,M1,E2,M2,E3,M3,M4,E4,M5,E5,Quality
2502,2022-07-05T09:50:16+05:30,248.0,207.0,95.0,31.0,2022-07-05,09:50:16,9,50,16,...,244.8,199.530442,244.779825,4.291387,1.989975,0.013797,0.012640,0.791282,0.767710,7.794963
2503,2022-07-05T09:50:34+05:30,243.0,197.0,95.0,31.2,2022-07-05,09:50:34,9,50,34,...,244.8,201.502332,244.779825,5.311873,1.949359,0.013797,0.012615,0.791282,0.762577,7.769297
2504,2022-07-05T09:50:51+05:30,247.0,198.0,95.0,31.0,2022-07-05,09:50:51,9,50,51,...,244.8,201.088896,244.779825,5.434703,2.142895,0.013740,0.012514,0.791339,0.763734,7.775363
2506,2022-07-05T09:51:25+05:30,243.0,197.0,95.0,31.1,2022-07-05,09:51:25,9,51,25,...,245.0,199.530442,244.974036,3.831449,2.436391,0.013785,0.012527,0.790672,0.767823,7.792475
2507,2022-07-05T09:51:42+05:30,243.0,199.0,95.0,31.1,2022-07-05,09:51:42,9,51,42,...,244.6,199.732730,244.578000,3.554153,2.236068,0.013797,0.012414,0.791916,0.767414,7.796649
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4236,2022-07-05T18:17:24+05:30,411.0,421.0,95.0,31.9,2022-07-05,18:17:24,18,17,24,...,408.4,421.391883,408.395512,1.854724,1.293058,0.023017,0.026471,0.265949,0.177696,2.218222
4237,2022-07-05T18:17:41+05:30,408.0,420.0,95.0,31.9,2022-07-05,18:17:41,18,17,41,...,408.4,422.187328,408.395512,1.819890,1.293058,0.022995,0.026333,0.265972,0.175761,2.208665
4238,2022-07-05T18:17:58+05:30,408.0,420.0,95.0,31.9,2022-07-05,18:17:58,18,17,58,...,408.0,420.000000,408.000000,0.000000,0.000000,0.022995,0.026646,0.267226,0.181146,2.241860
4239,2022-07-05T18:18:15+05:30,408.0,425.0,95.0,32.0,2022-07-05,18:18:15,18,18,15,...,408.0,425.000000,408.000000,0.000000,0.000000,0.000000,0.000000,0.290221,0.194805,2.425130
4240,2022-07-05T18:18:49+05:30,408.0,421.0,95.0,32.0,2022-07-05,18:18:49,18,18,49,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [31]:
def rate(initial, final):
    diff = ((df.Day[final] - df.Day[initial])*24 + (df.Hour[final] - df.Hour[initial]))*60 + (df.Mins[final] - df.Mins[initial])
    rate = (df.Quality[initial] - df.Quality[final]) / diff    
    print(diff, "\n")
    print(rate)

    
rate1 = rate(1, 719)
rate2 = rate(719, 1228)
rate3 = rate(1229, 2511)
rate4 = rate(2512, 4230)

211

0.0038549317091096332
151

0.0020734894222617013
367

0.0024533688999806976
502

0.011071637723781317

In [32]:
df.Quality[719]

9.018307816890767

In [33]:
Group1 = df.loc[1:719] 
for i in range(1,len(Group1)):
    if(Group1.Quality[i] <= 9.15):
        Group1.Quality[i] = 9.2

Group1

C:\Users\naren\AppData\Local\Temp\ipykernel_14620\120255020.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Group1.Quality[i] = 9.2

,created_at,Methane,Ethanol,Humidity,Temperature,Date,Time,Hour,Mins,Secs,...,M1,E2,M2,E3,M3,M4,E4,M5,E5,Quality
1,2022-07-04T21:43:12+05:30,188.0,115.0,86.0,29.1,2022-07-04,21:43:12,21,43,12,...,188.0,115.000000,188.000000,0.000000,0.000000,0.010426,0.007461,0.973801,0.992539,9.831698
2,2022-07-04T21:43:30+05:30,185.0,119.0,86.0,29.0,2022-07-04,21:43:30,21,43,30,...,185.0,119.000000,185.000000,0.000000,0.000000,0.010449,0.007298,0.983242,0.982312,9.827771
3,2022-07-04T21:43:47+05:30,186.0,115.0,87.0,29.1,2022-07-04,21:43:47,21,43,47,...,185.4,116.374079,185.385781,1.305374,1.023719,0.010415,0.007311,0.982036,0.989087,9.855615
4,2022-07-04T21:44:04+05:30,185.0,115.0,88.0,29.3,2022-07-04,21:44:04,21,44,4,...,184.8,116.577477,184.794781,1.305374,1.058301,0.010438,0.007273,0.983892,0.988601,9.862464
5,2022-07-04T21:44:21+05:30,183.0,118.0,88.0,29.3,2022-07-04,21:44:21,21,44,21,...,185.2,115.989743,185.190471,1.488624,1.091788,0.010460,0.007273,0.982615,0.990143,9.863789
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
715,2022-07-05T01:12:54+05:30,204.0,155.0,95.0,31.2,2022-07-05,01:12:54,1,12,54,...,203.6,154.997419,203.591007,0.593296,1.148913,0.011441,0.009680,0.923589,0.886427,9.200000
716,2022-07-05T01:13:11+05:30,203.0,154.0,95.0,31.4,2022-07-05,01:13:11,1,13,11,...,203.0,154.395837,202.998030,1.969772,0.726636,0.011452,0.009793,0.925459,0.887874,9.200000
717,2022-07-05T01:13:28+05:30,202.0,155.0,95.0,31.3,2022-07-05,01:13:28,1,13,28,...,203.2,156.102478,203.197241,3.469870,0.632456,0.011430,0.009856,0.924852,0.883258,9.200000
718,2022-07-05T01:13:45+05:30,203.0,153.0,95.0,31.3,2022-07-05,01:13:45,1,13,45,...,202.8,157.091282,202.797242,3.488266,1.080740,0.011463,0.009881,0.926080,0.880650,9.200000
719,2022-07-05T01:14:02+05:30,204.0,164.0,95.0,31.4,2022-07-05,01:14:02,1,14,2,...,203.4,157.503243,203.389046,3.876080,1.523155,0.011497,0.009981,0.924167,0.879495,9.018308

In [34]:
Group1['Quality']

1      9.831698
2      9.827771
3      9.855615
4      9.862464
5      9.863789
         ...
715    9.200000
716    9.200000
717    9.200000
718    9.200000
719    9.018308
Name: Quality, Length: 719, dtype: float64

In [35]:
df.Quality[1228]

8.70521091412925

In [36]:
Group2 = df.loc[719:1228] 
for i in range(720,len(Group2)):
    if(Group2.Quality[i] <= 8.7):
        Group2.Quality[i] = 8.8

Group2

,created_at,Methane,Ethanol,Humidity,Temperature,Date,Time,Hour,Mins,Secs,...,M1,E2,M2,E3,M3,M4,E4,M5,E5,Quality
719,2022-07-05T01:14:02+05:30,204.0,164.0,95.0,31.4,2022-07-05,01:14:02,1,14,2,...,203.4,157.503243,203.389046,3.876080,1.523155,0.011497,0.009981,0.924167,0.879495,9.018308
720,2022-07-05T01:14:19+05:30,202.0,160.0,95.0,31.2,2022-07-05,01:14:19,1,14,19,...,204.0,159.090084,203.990196,4.535196,1.493988,0.011475,0.010019,0.922295,0.875319,8.988066
721,2022-07-05T01:14:36+05:30,206.0,156.0,95.0,31.2,2022-07-05,01:14:36,1,14,36,...,203.6,159.728879,203.583079,4.128922,1.891031,0.011497,0.009881,0.923545,0.873848,8.986964
722,2022-07-05T01:14:54+05:30,205.0,163.0,95.0,31.4,2022-07-05,01:14:54,1,14,54,...,204.0,157.522834,203.978344,3.264353,2.356268,0.011475,0.009793,0.922313,0.879658,9.009854
723,2022-07-05T01:15:11+05:30,201.0,156.0,95.0,31.0,2022-07-05,01:15:11,1,15,11,...,203.6,156.116435,203.567222,3.446738,2.391652,0.011430,0.009781,0.923638,0.883315,9.034763
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1224,2022-07-05T03:44:11+05:30,209.0,169.0,95.0,31.2,2022-07-05,03:44:11,3,44,11,...,209.8,168.589068,209.797334,1.102724,0.600000,0.011835,0.010621,0.903626,0.850172,8.768993
1225,2022-07-05T03:44:28+05:30,210.0,170.0,95.0,31.2,2022-07-05,03:44:28,3,44,28,...,210.0,169.389072,209.996190,0.912140,0.565685,0.011847,0.010621,0.902986,0.848095,8.755402
1226,2022-07-05T03:44:45+05:30,211.0,170.0,95.0,31.2,2022-07-05,03:44:45,3,44,45,...,210.2,169.389072,210.197333,2.276840,0.698570,0.011869,0.010709,0.902331,0.848007,8.751687
1227,2022-07-05T03:45:02+05:30,211.0,171.0,95.0,31.1,2022-07-05,03:45:02,3,45,2,...,210.6,170.750441,210.598859,2.946184,0.606630,0.011892,0.010784,0.901044,0.844345,8.726945
1228,2022-07-05T03:45:19+05:30,210.0,167.0,95.0,31.5,2022-07-05,03:45:19,3,45,19,...,211.0,171.927851,210.998104,3.583295,0.613188,0.011903,0.010771,0.899772,0.841270,8.705211

In [37]:
Group3 = df.loc[1229:2511] 
for i in range(1229,len(Group3)):
    if(Group3.Quality[i] <= 7.8):
        Group3.Quality[i] = 7.9

Group3

,created_at,Methane,Ethanol,Humidity,Temperature,Date,Time,Hour,Mins,Secs,...,M1,E2,M2,E3,M3,M4,E4,M5,E5,Quality
1229,2022-07-05T03:45:37+05:30,211.0,176.0,95.0,31.5,2022-07-05,03:45:37,3,45,37,...,211.2,171.722325,211.197345,4.079216,0.669328,0.011959,0.010746,0.899086,0.841822,8.704539
1230,2022-07-05T03:45:54+05:30,212.0,176.0,95.0,31.2,2022-07-05,03:45:54,3,45,54,...,212.2,171.315132,212.180581,4.240755,1.252198,0.012005,0.010872,0.895913,0.842745,8.693288
1231,2022-07-05T03:46:11+05:30,212.0,169.0,95.0,31.2,2022-07-05,03:46:11,3,46,11,...,213.0,173.324203,212.985055,4.773259,1.200000,0.012038,0.010759,0.893348,0.837651,8.654996
1232,2022-07-05T03:46:28+05:30,216.0,169.0,95.0,31.2,2022-07-05,03:46:28,3,46,28,...,213.6,171.503764,213.589538,4.539604,1.200000,0.012027,0.010659,0.891459,0.842453,8.669565
1233,2022-07-05T03:46:45+05:30,214.0,177.0,95.0,31.1,2022-07-05,03:46:45,3,46,45,...,213.4,169.926757,213.385760,4.094875,1.549193,0.012072,0.010633,0.892051,0.846604,8.693279
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2507,2022-07-05T09:51:42+05:30,243.0,199.0,95.0,31.1,2022-07-05,09:51:42,9,51,42,...,244.6,199.732730,244.578000,3.554153,2.236068,0.013797,0.012414,0.791916,0.767414,7.796649
2508,2022-07-05T09:51:59+05:30,249.0,197.0,95.0,31.1,2022-07-05,09:51:59,9,51,59,...,244.8,197.995960,244.779942,1.574802,2.209072,0.013785,0.012477,0.791293,0.771944,7.816188
2509,2022-07-05T09:52:16+05:30,245.0,199.0,95.0,31.2,2022-07-05,09:52:16,9,52,16,...,244.6,198.986019,244.576333,1.232883,2.114710,0.013763,0.012539,0.791953,0.769297,7.806247
2510,2022-07-05T09:52:33+05:30,244.0,198.0,95.0,31.2,2022-07-05,09:52:33,9,52,33,...,244.2,199.966177,244.168445,1.786617,2.351170,0.013718,0.012577,0.793272,0.766688,7.799798
2511,2022-07-05T09:52:50+05:30,242.0,202.0,95.0,30.8,2022-07-05,09:52:50,9,52,50,...,243.4,200.576968,243.389126,1.786617,1.417039,0.013740,0.012602,0.795740,0.765090,7.804153

In [38]:
Group4 = df.loc[2512:4240] 

Group4

,created_at,Methane,Ethanol,Humidity,Temperature,Date,Time,Hour,Mins,Secs,...,M1,E2,M2,E3,M3,M4,E4,M5,E5,Quality
2512,2022-07-05T09:53:07+05:30,241.0,204.0,95.0,31.0,2022-07-05,09:53:07,9,53,7,...,243.8,200.980097,243.781318,1.788854,1.405703,0.013797,0.012602,0.794435,0.764047,7.792408
2513,2022-07-05T09:53:25+05:30,245.0,200.0,95.0,31.0,2022-07-05,09:53:25,9,53,25,...,244.8,200.980097,244.763422,1.835211,1.447757,0.013921,0.012615,0.791184,0.764035,7.776094
2514,2022-07-05T09:53:42+05:30,247.0,201.0,95.0,31.0,2022-07-05,09:53:42,9,53,42,...,247.0,201.177301,246.935205,2.185406,2.287357,0.013988,0.012552,0.784221,0.763581,7.739012
2515,2022-07-05T09:53:59+05:30,249.0,198.0,95.0,31.1,2022-07-05,09:53:59,9,53,59,...,248.2,200.185264,248.170585,1.835211,2.076536,0.014022,0.012539,0.780346,0.766181,7.732635
2516,2022-07-05T09:54:16+05:30,253.0,203.0,95.0,31.1,2022-07-05,09:54:16,9,54,16,...,248.8,199.984089,248.780262,1.953458,2.105232,0.014022,0.012565,0.778438,0.766677,7.725574
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4236,2022-07-05T18:17:24+05:30,411.0,421.0,95.0,31.9,2022-07-05,18:17:24,18,17,24,...,408.4,421.391883,408.395512,1.854724,1.293058,0.023017,0.026471,0.265949,0.177696,2.218222
4237,2022-07-05T18:17:41+05:30,408.0,420.0,95.0,31.9,2022-07-05,18:17:41,18,17,41,...,408.4,422.187328,408.395512,1.819890,1.293058,0.022995,0.026333,0.265972,0.175761,2.208665
4238,2022-07-05T18:17:58+05:30,408.0,420.0,95.0,31.9,2022-07-05,18:17:58,18,17,58,...,408.0,420.000000,408.000000,0.000000,0.000000,0.022995,0.026646,0.267226,0.181146,2.241860
4239,2022-07-05T18:18:15+05:30,408.0,425.0,95.0,32.0,2022-07-05,18:18:15,18,18,15,...,408.0,425.000000,408.000000,0.000000,0.000000,0.000000,0.000000,0.290221,0.194805,2.425130
4240,2022-07-05T18:18:49+05:30,408.0,421.0,95.0,32.0,2022-07-05,18:18:49,18,18,49,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [39]:
##Group4.to_csv('Group4_.csv')

TypeError: 'type' object is not subscriptable