In [36]:
import pandas as pd
import numpy as np
import warnings
import datetime
import statistics
warnings.simplefilter(action='ignore', category=FutureWarning)

In [37]:
df = pd.read_csv("milk_manual.csv")
df.head()

,created_at,Unnamed: 1,Methane,Ethanol,Humidity,Temperature
0,2022-06-30T20:25:21+00:00,1,206.0,153,71.0,31.7
1,2022-06-30T20:26:06+00:00,2,199.0,145,71.0,31.8
2,2022-06-30T20:27:07+00:00,3,198.0,142,71.0,31.8
3,2022-06-30T20:27:22+00:00,4,199.0,143,70.0,31.8
4,2022-06-30T20:28:07+00:00,5,203.0,143,70.0,31.9

In [38]:
df.pop("Unnamed: 1")
df = df.dropna()
df

                     created_at  Methane  Ethanol  Humidity  Temperature
0     2022-06-30T20:25:21+00:00    206.0      153      71.0         31.7
1     2022-06-30T20:26:06+00:00    199.0      145      71.0         31.8
2     2022-06-30T20:27:07+00:00    198.0      142      71.0         31.8
3     2022-06-30T20:27:22+00:00    199.0      143      70.0         31.8
4     2022-06-30T20:28:07+00:00    203.0      143      70.0         31.9
...                         ...      ...      ...       ...          ...
4667  2022-07-03T22:18:40+00:00    235.0      191      81.0         30.2
4668  2022-07-03T22:18:57+00:00    235.0      200      82.0         30.2
4669  2022-07-03T22:19:15+00:00    229.0      189      82.0         30.1
4670  2022-07-03T22:19:32+00:00    230.0      185      81.0         30.0
4671  2022-07-03T22:19:49+00:00    231.0      188      82.0         30.1

[4672 rows x 5 columns]

In [39]:
df[['Date', 'Time']] = df['created_at'].str.split('T', expand=True)
df[['Time', 'Standard']] = df['Time'].str.split('+', expand=True)

df.pop("Standard")
df

,created_at,Methane,Ethanol,Humidity,Temperature,Date,Time
0,2022-06-30T20:25:21+00:00,206.0,153,71.0,31.7,2022-06-30,20:25:21
1,2022-06-30T20:26:06+00:00,199.0,145,71.0,31.8,2022-06-30,20:26:06
2,2022-06-30T20:27:07+00:00,198.0,142,71.0,31.8,2022-06-30,20:27:07
3,2022-06-30T20:27:22+00:00,199.0,143,70.0,31.8,2022-06-30,20:27:22
4,2022-06-30T20:28:07+00:00,203.0,143,70.0,31.9,2022-06-30,20:28:07
...,...,...,...,...,...,...,...
4667,2022-07-03T22:18:40+00:00,235.0,191,81.0,30.2,2022-07-03,22:18:40
4668,2022-07-03T22:18:57+00:00,235.0,200,82.0,30.2,2022-07-03,22:18:57
4669,2022-07-03T22:19:15+00:00,229.0,189,82.0,30.1,2022-07-03,22:19:15
4670,2022-07-03T22:19:32+00:00,230.0,185,81.0,30.0,2022-07-03,22:19:32
4671,2022-07-03T22:19:49+00:00,231.0,188,82.0,30.1,2022-07-03,22:19:49

In [40]:
df['Date'] = pd.to_datetime(df.Date)
df['Time'] = pd.to_datetime(df.Time)

df.dtypes

created_at             object
Methane               float64
Ethanol                 int64
Humidity              float64
Temperature           float64
Date           datetime64[ns]
Time           datetime64[ns]
dtype: object

In [41]:
df['Hour'] = df.Time.dt.hour
df['Mins'] = df.Time.dt.minute
df['Secs'] = df.Time.dt.second
df['Year'] = df.Date.dt.year
df['Month'] = df.Date.dt.month
df['Day'] = df.Date.dt.day
df['Time'] = df.Time.dt.time
df

,created_at,Methane,Ethanol,Humidity,Temperature,Date,Time,Hour,Mins,Secs,Year,Month,Day
0,2022-06-30T20:25:21+00:00,206.0,153,71.0,31.7,2022-06-30,20:25:21,20,25,21,2022,6,30
1,2022-06-30T20:26:06+00:00,199.0,145,71.0,31.8,2022-06-30,20:26:06,20,26,6,2022,6,30
2,2022-06-30T20:27:07+00:00,198.0,142,71.0,31.8,2022-06-30,20:27:07,20,27,7,2022,6,30
3,2022-06-30T20:27:22+00:00,199.0,143,70.0,31.8,2022-06-30,20:27:22,20,27,22,2022,6,30
4,2022-06-30T20:28:07+00:00,203.0,143,70.0,31.9,2022-06-30,20:28:07,20,28,7,2022,6,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4667,2022-07-03T22:18:40+00:00,235.0,191,81.0,30.2,2022-07-03,22:18:40,22,18,40,2022,7,3
4668,2022-07-03T22:18:57+00:00,235.0,200,82.0,30.2,2022-07-03,22:18:57,22,18,57,2022,7,3
4669,2022-07-03T22:19:15+00:00,229.0,189,82.0,30.1,2022-07-03,22:19:15,22,19,15,2022,7,3
4670,2022-07-03T22:19:32+00:00,230.0,185,81.0,30.0,2022-07-03,22:19:32,22,19,32,2022,7,3
4671,2022-07-03T22:19:49+00:00,231.0,188,82.0,30.1,2022-07-03,22:19:49,22,19,49,2022,7,3

In [42]:
df.mean()

Methane         245.978382
Ethanol         234.941567
Humidity         85.212115
Temperature      32.674015
Hour             12.415882
Mins             29.675942
Secs             29.522688
Year           2022.000000
Month             6.945205
Day               3.058861
dtype: float64

In [43]:
 df.isnull().any().any()

False

In [44]:
df['E1'] = 0
df['H1'] = 0
df['M1'] = 0
df['T1'] = 0
df['E2'] = 0
df['H2'] = 0
df['M2'] = 0
df['T2'] = 0


for i in range(3, len(df)-2):

    df.E1[i] = (( df.Ethanol[i-2] + df.Ethanol[i-1] + df.Ethanol[i] + df.Ethanol[i+1] + df.Ethanol[i+2])/5)
    df.H1[i] = (( df.Humidity[i-2] + df.Humidity[i-1] + df.Humidity[i] + df.Humidity[i+1] + df.Humidity[i+2])/5)
    df.M1[i] = (( df.Methane[i-2] + df.Methane[i-1] + df.Methane[i] + df.Methane[i+1] + df.Methane[i+2])/5)
    df.T1[i] = (( df.Temperature[i-2] + df.Temperature[i-1] + df.Temperature[i] + df.Temperature[i+1] + df.Temperature[i+2])/5)

for i in range(3, len(df)-2):

    df.E2[i] = (5 / ( (1/df.Ethanol[i-2]) + (1/df.Ethanol[i-1]) + (1/df.Ethanol[i]) + (1/df.Ethanol[i+1]) + (1/df.Ethanol[i+2])))
    df.H2[i] = (5 / ( (1/df.Humidity[i-2]) + (1/df.Humidity[i-1]) + (1/df.Humidity[i]) + (1/df.Humidity[i+1]) + (1/df.Humidity[i+2])))
    df.M2[i] = (5 / ( (1/df.Methane[i-2]) + (1/df.Methane[i-1]) + (1/df.Methane[i]) + (1/df.Methane[i+1]) + (1/df.Methane[i+2])))
    df.T2[i] = (5 / ( (1/df.Temperature[i-2]) + (1/df.Temperature[i-1]) + (1/df.Temperature[i]) + (1/df.Temperature[i+1]) + (1/df.Temperature[i+2])))
    
df.tail(20)

C:\Users\naren\AppData\Local\Temp\ipykernel_18844\1376687635.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.E1[i] = (( df.Ethanol[i-2] + df.Ethanol[i-1] + df.Ethanol[i] + df.Ethanol[i+1] + df.Ethanol[i+2])/5)
C:\Users\naren\AppData\Local\Temp\ipykernel_18844\1376687635.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.H1[i] = (( df.Humidity[i-2] + df.Humidity[i-1] + df.Humidity[i] + df.Humidity[i+1] + df.Humidity[i+2])/5)
C:\Users\naren\AppData\Local\Temp\ipykernel_18844\1376687635.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.M1[i] = (( df.Methane[i-2] + df.Methane[i-1] + df.Methane[i] + df.Methane[i+1] + df.Methane[i+2])/5)
C:\Users\naren\AppData\Local\Temp\ipykernel_18844\1376687635.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.T1[i] = (( df.Temperature[i-2] + df.Temperature[i-1] + df.Temperature[i] + df.Temperature[i+1] + df.Temperature[i+2])/5)
C:\Users\naren\AppData\Local\Temp\ipykernel_18844\1376687635.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.E2[i] = (5 / ( (1/df.Ethanol[i-2]) + (1/df.Ethanol[i-1]) + (1/df.Ethanol[i]) + (1/df.Ethanol[i+1]) + (1/df.Ethanol[i+2])))
C:\Users\naren\AppData\Local\Temp\ipykernel_18844\1376687635.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.H2[i] = (5 / ( (1/df.Humidity[i-2]) + (1/df.Humidity[i-1]) + (1/df.Humidity[i]) + (1/df.Humidity[i+1]) + (1/df.Humidity[i+2])))
C:\Users\naren\AppData\Local\Temp\ipykernel_18844\1376687635.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.M2[i] = (5 / ( (1/df.Methane[i-2]) + (1/df.Methane[i-1]) + (1/df.Methane[i]) + (1/df.Methane[i+1]) + (1/df.Methane[i+2])))
C:\Users\naren\AppData\Local\Temp\ipykernel_18844\1376687635.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.T2[i] = (5 / ( (1/df.Temperature[i-2]) + (1/df.Temperature[i-1]) + (1/df.Temperature[i]) + (1/df.Temperature[i+1]) + (1/df.Temperature[i+2])))
C:\Users\naren\AppData\Local\Temp\ipykernel_18844\1376687635.py:23: RuntimeWarning: divide by zero encountered in double_scalars
  df.T2[i] = (5 / ( (1/df.Temperature[i-2]) + (1/df.Temperature[i-1]) + (1/df.Temperature[i]) + (1/df.Temperature[i+1]) + (1/df.Temperature[i+2])))

,created_at,Methane,Ethanol,Humidity,Temperature,Date,Time,Hour,Mins,Secs,...,Month,Day,E1,H1,M1,T1,E2,H2,M2,T2
4652,2022-07-03T22:14:24+00:00,230.0,192,81.0,30.0,2022-07-03,22:14:24,22,14,24,...,7,3,190.4,81.2,230.6,30.04,190.288654,81.198044,230.568272,30.039920
4653,2022-07-03T22:14:41+00:00,229.0,184,81.0,30.0,2022-07-03,22:14:41,22,14,41,...,7,3,190.2,81.2,230.6,30.02,190.097413,81.198044,230.568272,30.019947
4654,2022-07-03T22:14:58+00:00,236.0,186,81.0,30.0,2022-07-03,22:14:58,22,14,58,...,7,3,189.2,81.0,230.6,30.00,189.127033,81.000000,230.568272,30.000000
4655,2022-07-03T22:15:15+00:00,229.0,194,81.0,30.0,2022-07-03,22:15:15,22,15,15,...,7,3,188.8,81.0,231.4,30.00,188.735640,81.000000,231.361205,30.000000
4656,2022-07-03T22:15:32+00:00,229.0,190,81.0,30.0,2022-07-03,22:15:32,22,15,32,...,7,3,190.2,81.0,231.0,30.02,190.165398,81.000000,230.950048,30.019947
4657,2022-07-03T22:15:49+00:00,234.0,190,81.0,30.0,2022-07-03,22:15:49,22,15,49,...,7,3,191.2,81.0,229.0,30.02,191.188803,81.000000,228.967148,30.019947
4658,2022-07-03T22:16:06+00:00,227.0,191,81.0,30.1,2022-07-03,22:16:06,22,16,6,...,7,3,190.6,81.0,228.6,30.02,190.598739,81.000000,228.564449,30.019947
4659,2022-07-03T22:16:23+00:00,226.0,191,81.0,30.0,2022-07-03,22:16:23,22,16,23,...,7,3,190.8,81.0,228.6,29.94,190.799159,81.000000,228.564449,29.938977
4660,2022-07-03T22:16:41+00:00,227.0,191,81.0,30.0,2022-07-03,22:16:41,22,16,41,...,7,3,191.0,81.0,227.8,29.96,191.000000,81.000000,227.790539,29.958843
4661,2022-07-03T22:16:58+00:00,229.0,191,81.0,29.6,2022-07-03,22:16:58,22,16,58,...,7,3,191.0,81.2,228.2,29.96,191.000000,81.198044,228.190513,29.958843
4662,2022-07-03T22:17:15+00:00,230.0,191,81.0,30.1,2022-07-03,22:17:15,22,17,15,...,7,3,191.0,81.4,229.0,29.96,191.000000,81.397059,228.994737,29.958843
4663,2022-07-03T22:17:32+00:00,229.0,191,82.0,30.1,2022-07-03,22:17:32,22,17,32,...,7,3,192.8,81.6,230.0,29.96,192.734612,81.597052,229.994805,29.958843
4664,2022-07-03T22:17:49+00:00,230.0,191,82.0,30.0,2022-07-03,22:17:49,22,17,49,...,7,3,193.0,81.6,230.0,30.06,192.937413,81.597052,229.994805,30.059920
4665,2022-07-03T22:18:06+00:00,232.0,200,82.0,30.0,2022-07-03,22:18:06,22,18,6,...,7,3,193.0,81.6,231.0,30.08,192.937413,81.597052,230.977667,30.079814
4666,2022-07-03T22:18:23+00:00,229.0,192,81.0,30.1,2022-07-03,22:18:23,22,18,23,...,7,3,194.8,81.6,232.2,30.10,194.707556,81.597052,232.173472,30.099734
4667,2022-07-03T22:18:40+00:00,235.0,191,81.0,30.2,2022-07-03,22:18:40,22,18,40,...,7,3,194.4,81.6,232.0,30.12,194.288382,81.597052,231.968964,30.119814
4668,2022-07-03T22:18:57+00:00,235.0,200,82.0,30.2,2022-07-03,22:18:57,22,18,57,...,7,3,191.4,81.4,231.6,30.12,191.275203,81.397059,231.566294,30.119814
4669,2022-07-03T22:19:15+00:00,229.0,189,82.0,30.1,2022-07-03,22:19:15,22,19,15,...,7,3,190.6,81.6,232.0,30.12,190.467761,81.597052,231.972480,30.119814
4670,2022-07-03T22:19:32+00:00,230.0,185,81.0,30.0,2022-07-03,22:19:32,22,19,32,...,7,3,0.0,0.0,0.0,0.00,0.000000,0.000000,0.000000,0.000000
4671,2022-07-03T22:19:49+00:00,231.0,188,82.0,30.1,2022-07-03,22:19:49,22,19,49,...,7,3,0.0,0.0,0.0,0.00,0.000000,0.000000,0.000000,0.000000

In [45]:
for i in range(1, len(df)):
    if (df.E1[i] == 0 or df.E2[i] == 0 ):
        df.E1[i] = df.Ethanol[i]
        df.E2[i] = df.Ethanol[i]
    if (df.H1[i] == 0 or df.H2[i] == 0 ):
        df.H1[i] = df.Humidity[i]
        df.H2[i] = df.Humidity[i]
    if (df.M1[i] == 0 or df.M2[i] == 0 ):
        df.M1[i] = df.Methane[i]
        df.M2[i] = df.Methane[i]
    if (df.T1[i] == 0 or df.T2[i] == 0 ):
        df.T1[i] = df.Temperature[i]
        df.T2[i] = df.Temperature[i] 

df

,created_at,Methane,Ethanol,Humidity,Temperature,Date,Time,Hour,Mins,Secs,...,Month,Day,E1,H1,M1,T1,E2,H2,M2,T2
0,2022-06-30T20:25:21+00:00,206.0,153,71.0,31.7,2022-06-30,20:25:21,20,25,21,...,6,30,0.0,0.0,0.0,0.00,0.000000,0.000000,0.000000,0.000000
1,2022-06-30T20:26:06+00:00,199.0,145,71.0,31.8,2022-06-30,20:26:06,20,26,6,...,6,30,145.0,71.0,199.0,31.80,145.000000,71.000000,199.000000,31.800000
2,2022-06-30T20:27:07+00:00,198.0,142,71.0,31.8,2022-06-30,20:27:07,20,27,7,...,6,30,142.0,71.0,198.0,31.80,142.000000,71.000000,198.000000,31.800000
3,2022-06-30T20:27:22+00:00,199.0,143,70.0,31.8,2022-06-30,20:27:22,20,27,22,...,6,30,143.4,70.4,198.8,31.84,143.392761,70.396601,198.767089,31.839925
4,2022-06-30T20:28:07+00:00,203.0,143,70.0,31.9,2022-06-30,20:28:07,20,28,7,...,6,30,144.2,70.2,195.6,31.92,144.158186,70.197740,195.355043,31.919327
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4667,2022-07-03T22:18:40+00:00,235.0,191,81.0,30.2,2022-07-03,22:18:40,22,18,40,...,7,3,194.4,81.6,232.0,30.12,194.288382,81.597052,231.968964,30.119814
4668,2022-07-03T22:18:57+00:00,235.0,200,82.0,30.2,2022-07-03,22:18:57,22,18,57,...,7,3,191.4,81.4,231.6,30.12,191.275203,81.397059,231.566294,30.119814
4669,2022-07-03T22:19:15+00:00,229.0,189,82.0,30.1,2022-07-03,22:19:15,22,19,15,...,7,3,190.6,81.6,232.0,30.12,190.467761,81.597052,231.972480,30.119814
4670,2022-07-03T22:19:32+00:00,230.0,185,81.0,30.0,2022-07-03,22:19:32,22,19,32,...,7,3,185.0,81.0,230.0,30.00,185.000000,81.000000,230.000000,30.000000
4671,2022-07-03T22:19:49+00:00,231.0,188,82.0,30.1,2022-07-03,22:19:49,22,19,49,...,7,3,188.0,82.0,231.0,30.10,188.000000,82.000000,231.000000,30.100000

In [46]:
df.pop("H1")
df.pop("T1")
df.pop("H2")
df.pop("T2")

0        0.000000
1       31.800000
2       31.800000
3       31.839925
4       31.919327
          ...
4667    30.119814
4668    30.119814
4669    30.119814
4670    30.000000
4671    30.100000
Name: T2, Length: 4672, dtype: float64

In [47]:
df['E3'] = 0
df['M3'] = 0
for i in range(3, len(df)-2):

    df.E3[i] = (( (df.Ethanol[i-2]-df.E1[i-2])**2 + (df.Ethanol[i-1]-df.E1[i-1])**2 + (df.Ethanol[i]-df.E1[i])**2 +(df.Ethanol[i+1]-df.E1[i+1])**2+(df.Ethanol[i+2]-df.E1[i+2])**2 )/5)
    df.M3[i] = (( (df.Methane[i-2]-df.M1[i-2])**2 + (df.Methane[i-1]-df.M1[i-1])**2 + (df.Methane[i]-df.M1[i])**2 +(df.Methane[i+1]-df.M1[i+1])**2+(df.Methane[i+2]-df.M1[i+2])**2 )/5)

C:\Users\naren\AppData\Local\Temp\ipykernel_18844\2314811916.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.E3[i] = (( (df.Ethanol[i-2]-df.E1[i-2])**2 + (df.Ethanol[i-1]-df.E1[i-1])**2 + (df.Ethanol[i]-df.E1[i])**2 +(df.Ethanol[i+1]-df.E1[i+1])**2+(df.Ethanol[i+2]-df.E1[i+2])**2 )/5)
C:\Users\naren\AppData\Local\Temp\ipykernel_18844\2314811916.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.M3[i] = (( (df.Methane[i-2]-df.M1[i-2])**2 + (df.Methane[i-1]-df.M1[i-1])**2 + (df.Methane[i]-df.M1[i])**2 +(df.Methane[i+1]-df.M1[i+1])**2+(df.Methane[i+2]-df.M1[i+2])**2 )/5)

In [48]:
df.loc[df['M3'] >= 3]

,created_at,Methane,Ethanol,Humidity,Temperature,Date,Time,Hour,Mins,Secs,Year,Month,Day,E1,M1,E2,M2,E3,M3
3,2022-06-30T20:27:22+00:00,199.0,143,70.0,31.8,2022-06-30,20:27:22,20,27,22,2022,6,30,143.4,198.8,143.392761,198.767089,0.328,13.008
4,2022-06-30T20:28:07+00:00,203.0,143,70.0,31.9,2022-06-30,20:28:07,20,28,7,2022,6,30,144.2,195.6,144.158186,195.355043,4.936,18.008
5,2022-06-30T20:28:22+00:00,195.0,144,70.0,31.9,2022-06-30,20:28:22,20,28,22,2022,6,30,144.2,191.8,144.158186,191.347187,5.008,20.896
6,2022-06-30T20:28:37+00:00,183.0,149,70.0,32.2,2022-06-30,20:28:37,20,28,37,2022,6,30,144.2,188.0,144.158186,187.540259,13.168,20.920
7,2022-06-30T20:29:07+00:00,179.0,142,70.0,32.5,2022-06-30,20:29:07,20,29,7,2022,6,30,141.4,182.8,141.071371,182.584697,13.168,10.256
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4665,2022-07-03T22:18:06+00:00,232.0,200,82.0,30.0,2022-07-03,22:18:06,22,18,6,2022,7,3,193.0,231.0,192.937413,230.977667,15.128,4.248
4666,2022-07-03T22:18:23+00:00,229.0,192,81.0,30.1,2022-07-03,22:18:23,22,18,23,2022,7,3,194.8,232.2,194.707556,232.173472,29.272,6.360
4667,2022-07-03T22:18:40+00:00,235.0,191,81.0,30.2,2022-07-03,22:18:40,22,18,40,2022,7,3,194.4,232.0,194.288382,231.968964,28.984,8.160
4668,2022-07-03T22:18:57+00:00,235.0,200,82.0,30.2,2022-07-03,22:18:57,22,18,57,2022,7,3,191.4,231.6,191.275203,231.566294,19.184,7.960
4669,2022-07-03T22:19:15+00:00,229.0,189,82.0,30.1,2022-07-03,22:19:15,22,19,15,2022,7,3,190.6,232.0,190.467761,231.972480,17.616,5.912

In [49]:
df.dtypes

created_at             object
Methane               float64
Ethanol                 int64
Humidity              float64
Temperature           float64
Date           datetime64[ns]
Time                   object
Hour                    int64
Mins                    int64
Secs                    int64
Year                    int64
Month                   int64
Day                     int64
E1                    float64
M1                    float64
E2                    float64
M2                    float64
E3                    float64
M3                    float64
dtype: object

In [50]:
from sklearn import preprocessing

df['M4'] = 0
df['E4'] = 0
var1 = df.M1
a = preprocessing.normalize([var1])
var2 = df.E1
b = preprocessing.normalize([var2])

np.shape(b)
np.shape(a)

(1, 4672)

In [51]:
a1 = a.T
b1 = b.T
np.shape(a1)
np.shape(b1)

(4672, 1)

In [52]:
for i in range(1, len(df)):

        df.M4[i] = a1[i]
        df.E4[i] = b1[i]
df

C:\Users\naren\AppData\Local\Temp\ipykernel_18844\4054316011.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.M4[i] = a1[i]
C:\Users\naren\AppData\Local\Temp\ipykernel_18844\4054316011.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.E4[i] = b1[i]

,created_at,Methane,Ethanol,Humidity,Temperature,Date,Time,Hour,Mins,Secs,...,Month,Day,E1,M1,E2,M2,E3,M3,M4,E4
0,2022-06-30T20:25:21+00:00,206.0,153,71.0,31.7,2022-06-30,20:25:21,20,25,21,...,6,30,0.0,0.0,0.000000,0.000000,0.000,0.000,0.000000,0.000000
1,2022-06-30T20:26:06+00:00,199.0,145,71.0,31.8,2022-06-30,20:26:06,20,26,6,...,6,30,145.0,199.0,145.000000,199.000000,0.000,0.000,0.011595,0.008543
2,2022-06-30T20:27:07+00:00,198.0,142,71.0,31.8,2022-06-30,20:27:07,20,27,7,...,6,30,142.0,198.0,142.000000,198.000000,0.000,0.000,0.011537,0.008366
3,2022-06-30T20:27:22+00:00,199.0,143,70.0,31.8,2022-06-30,20:27:22,20,27,22,...,6,30,143.4,198.8,143.392761,198.767089,0.328,13.008,0.011583,0.008449
4,2022-06-30T20:28:07+00:00,203.0,143,70.0,31.9,2022-06-30,20:28:07,20,28,7,...,6,30,144.2,195.6,144.158186,195.355043,4.936,18.008,0.011397,0.008496
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4667,2022-07-03T22:18:40+00:00,235.0,191,81.0,30.2,2022-07-03,22:18:40,22,18,40,...,7,3,194.4,232.0,194.288382,231.968964,28.984,8.160,0.013518,0.011453
4668,2022-07-03T22:18:57+00:00,235.0,200,82.0,30.2,2022-07-03,22:18:57,22,18,57,...,7,3,191.4,231.6,191.275203,231.566294,19.184,7.960,0.013494,0.011277
4669,2022-07-03T22:19:15+00:00,229.0,189,82.0,30.1,2022-07-03,22:19:15,22,19,15,...,7,3,190.6,232.0,190.467761,231.972480,17.616,5.912,0.013518,0.011230
4670,2022-07-03T22:19:32+00:00,230.0,185,81.0,30.0,2022-07-03,22:19:32,22,19,32,...,7,3,185.0,230.0,185.000000,230.000000,0.000,0.000,0.013401,0.010900
4671,2022-07-03T22:19:49+00:00,231.0,188,82.0,30.1,2022-07-03,22:19:49,22,19,49,...,7,3,188.0,231.0,188.000000,231.000000,0.000,0.000,0.013459,0.011076

In [53]:
df['M5'] = 0

for i in range(1, len(df)):
        df.M5[i] = 1- ( ((df.M1[i]+df.M2[i])/2 - min(df.Methane)) / (500 - min(df.Methane)) ) - df.M4[i]
        
df

C:\Users\naren\AppData\Local\Temp\ipykernel_18844\3261091522.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.M5[i] = 1- ( ((df.M1[i]+df.M2[i])/2 - min(df.Methane)) / (500 - min(df.Methane)) ) - df.M4[i]

,created_at,Methane,Ethanol,Humidity,Temperature,Date,Time,Hour,Mins,Secs,...,Day,E1,M1,E2,M2,E3,M3,M4,E4,M5
0,2022-06-30T20:25:21+00:00,206.0,153,71.0,31.7,2022-06-30,20:25:21,20,25,21,...,30,0.0,0.0,0.000000,0.000000,0.000,0.000,0.000000,0.000000,0.000000
1,2022-06-30T20:26:06+00:00,199.0,145,71.0,31.8,2022-06-30,20:26:06,20,26,6,...,30,145.0,199.0,145.000000,199.000000,0.000,0.000,0.011595,0.008543,0.715458
2,2022-06-30T20:27:07+00:00,198.0,142,71.0,31.8,2022-06-30,20:27:07,20,27,7,...,30,142.0,198.0,142.000000,198.000000,0.000,0.000,0.011537,0.008366,0.717932
3,2022-06-30T20:27:22+00:00,199.0,143,70.0,31.8,2022-06-30,20:27:22,20,27,22,...,30,143.4,198.8,143.392761,198.767089,0.328,13.008,0.011583,0.008449,0.715993
4,2022-06-30T20:28:07+00:00,203.0,143,70.0,31.9,2022-06-30,20:28:07,20,28,7,...,30,144.2,195.6,144.158186,195.355043,4.936,18.008,0.011397,0.008496,0.724165
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4667,2022-07-03T22:18:40+00:00,235.0,191,81.0,30.2,2022-07-03,22:18:40,22,18,40,...,3,194.4,232.0,194.288382,231.968964,28.984,8.160,0.013518,0.011453,0.633863
4668,2022-07-03T22:18:57+00:00,235.0,200,82.0,30.2,2022-07-03,22:18:57,22,18,57,...,3,191.4,231.6,191.275203,231.566294,19.184,7.960,0.013494,0.011277,0.634856
4669,2022-07-03T22:19:15+00:00,229.0,189,82.0,30.1,2022-07-03,22:19:15,22,19,15,...,3,190.6,232.0,190.467761,231.972480,17.616,5.912,0.013518,0.011230,0.633859
4670,2022-07-03T22:19:32+00:00,230.0,185,81.0,30.0,2022-07-03,22:19:32,22,19,32,...,3,185.0,230.0,185.000000,230.000000,0.000,0.000,0.013401,0.010900,0.638773
4671,2022-07-03T22:19:49+00:00,231.0,188,82.0,30.1,2022-07-03,22:19:49,22,19,49,...,3,188.0,231.0,188.000000,231.000000,0.000,0.000,0.013459,0.011076,0.636299

In [54]:
df['E5'] = 0

for i in range(1, len(df)):
        df.E5[i] = 1 - ( ((df.E1[i]+df.E2[i])/2 - min(df.Ethanol)) / (500 - min(df.Ethanol)) ) - df.E4[i]
        
df

C:\Users\naren\AppData\Local\Temp\ipykernel_18844\2403780690.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.E5[i] = 1 - ( ((df.E1[i]+df.E2[i])/2 - min(df.Ethanol)) / (500 - min(df.Ethanol)) ) - df.E4[i]

,created_at,Methane,Ethanol,Humidity,Temperature,Date,Time,Hour,Mins,Secs,...,E1,M1,E2,M2,E3,M3,M4,E4,M5,E5
0,2022-06-30T20:25:21+00:00,206.0,153,71.0,31.7,2022-06-30,20:25:21,20,25,21,...,0.0,0.0,0.000000,0.000000,0.000,0.000,0.000000,0.000000,0.000000,0.000000
1,2022-06-30T20:26:06+00:00,199.0,145,71.0,31.8,2022-06-30,20:26:06,20,26,6,...,145.0,199.0,145.000000,199.000000,0.000,0.000,0.011595,0.008543,0.715458,0.836695
2,2022-06-30T20:27:07+00:00,198.0,142,71.0,31.8,2022-06-30,20:27:07,20,27,7,...,142.0,198.0,142.000000,198.000000,0.000,0.000,0.011537,0.008366,0.717932,0.844015
3,2022-06-30T20:27:22+00:00,199.0,143,70.0,31.8,2022-06-30,20:27:22,20,27,22,...,143.4,198.8,143.392761,198.767089,0.328,13.008,0.011583,0.008449,0.715993,0.840608
4,2022-06-30T20:28:07+00:00,203.0,143,70.0,31.9,2022-06-30,20:28:07,20,28,7,...,144.2,195.6,144.158186,195.355043,4.936,18.008,0.011397,0.008496,0.724165,0.838697
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4667,2022-07-03T22:18:40+00:00,235.0,191,81.0,30.2,2022-07-03,22:18:40,22,18,40,...,194.4,232.0,194.288382,231.968964,28.984,8.160,0.013518,0.011453,0.633863,0.716299
4668,2022-07-03T22:18:57+00:00,235.0,200,82.0,30.2,2022-07-03,22:18:57,22,18,57,...,191.4,231.6,191.275203,231.566294,19.184,7.960,0.013494,0.011277,0.634856,0.723634
4669,2022-07-03T22:19:15+00:00,229.0,189,82.0,30.1,2022-07-03,22:19:15,22,19,15,...,190.6,232.0,190.467761,231.972480,17.616,5.912,0.013518,0.011230,0.633859,0.725595
4670,2022-07-03T22:19:32+00:00,230.0,185,81.0,30.0,2022-07-03,22:19:32,22,19,32,...,185.0,230.0,185.000000,230.000000,0.000,0.000,0.013401,0.010900,0.638773,0.739100
4671,2022-07-03T22:19:49+00:00,231.0,188,82.0,30.1,2022-07-03,22:19:49,22,19,49,...,188.0,231.0,188.000000,231.000000,0.000,0.000,0.013459,0.011076,0.636299,0.731781

In [55]:
df['Quality'] = 0

for i in range(1, len(df)):
    df.Quality[i] = ((df.M5[i] + df.E5[i])/ 2)*10
    
df

C:\Users\naren\AppData\Local\Temp\ipykernel_18844\1422584127.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Quality[i] = ((df.M5[i] + df.E5[i])/ 2)*10

,created_at,Methane,Ethanol,Humidity,Temperature,Date,Time,Hour,Mins,Secs,...,M1,E2,M2,E3,M3,M4,E4,M5,E5,Quality
0,2022-06-30T20:25:21+00:00,206.0,153,71.0,31.7,2022-06-30,20:25:21,20,25,21,...,0.0,0.000000,0.000000,0.000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000
1,2022-06-30T20:26:06+00:00,199.0,145,71.0,31.8,2022-06-30,20:26:06,20,26,6,...,199.0,145.000000,199.000000,0.000,0.000,0.011595,0.008543,0.715458,0.836695,7.760768
2,2022-06-30T20:27:07+00:00,198.0,142,71.0,31.8,2022-06-30,20:27:07,20,27,7,...,198.0,142.000000,198.000000,0.000,0.000,0.011537,0.008366,0.717932,0.844015,7.809734
3,2022-06-30T20:27:22+00:00,199.0,143,70.0,31.8,2022-06-30,20:27:22,20,27,22,...,198.8,143.392761,198.767089,0.328,13.008,0.011583,0.008449,0.715993,0.840608,7.783002
4,2022-06-30T20:28:07+00:00,203.0,143,70.0,31.9,2022-06-30,20:28:07,20,28,7,...,195.6,144.158186,195.355043,4.936,18.008,0.011397,0.008496,0.724165,0.838697,7.814308
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4667,2022-07-03T22:18:40+00:00,235.0,191,81.0,30.2,2022-07-03,22:18:40,22,18,40,...,232.0,194.288382,231.968964,28.984,8.160,0.013518,0.011453,0.633863,0.716299,6.750807
4668,2022-07-03T22:18:57+00:00,235.0,200,82.0,30.2,2022-07-03,22:18:57,22,18,57,...,231.6,191.275203,231.566294,19.184,7.960,0.013494,0.011277,0.634856,0.723634,6.792447
4669,2022-07-03T22:19:15+00:00,229.0,189,82.0,30.1,2022-07-03,22:19:15,22,19,15,...,232.0,190.467761,231.972480,17.616,5.912,0.013518,0.011230,0.633859,0.725595,6.797266
4670,2022-07-03T22:19:32+00:00,230.0,185,81.0,30.0,2022-07-03,22:19:32,22,19,32,...,230.0,185.000000,230.000000,0.000,0.000,0.013401,0.010900,0.638773,0.739100,6.889366
4671,2022-07-03T22:19:49+00:00,231.0,188,82.0,30.1,2022-07-03,22:19:49,22,19,49,...,231.0,188.000000,231.000000,0.000,0.000,0.013459,0.011076,0.636299,0.731781,6.840400

In [67]:
T1 = df.loc[df['Quality'] >= 8.5]
T1

,created_at,Methane,Ethanol,Humidity,Temperature,Date,Time,Hour,Mins,Secs,...,M1,E2,M2,E3,M3,M4,E4,M5,E5,Quality
21,2022-06-30T20:36:29+00:00,176.0,120,67.0,32.1,2022-06-30,20:36:29,20,36,29,...,160.2,117.716334,153.374060,8.160,299.168,0.009334,0.006940,0.819683,0.903159,8.614210
22,2022-06-30T20:36:47+00:00,164.0,120,67.0,32.0,2022-06-30,20:36:47,20,36,47,...,148.0,117.501587,140.563907,3.448,326.072,0.008623,0.006929,0.850599,0.903665,8.771319
23,2022-06-30T20:37:03+00:00,104.0,114,67.0,32.1,2022-06-30,20:37:03,20,37,3,...,135.0,115.695948,129.161901,3.184,321.808,0.007866,0.006823,0.880828,0.908063,8.944454
24,2022-06-30T20:37:21+00:00,116.0,113,67.0,32.0,2022-06-30,20:37:21,20,37,21,...,127.6,114.124079,124.305344,13.168,345.608,0.007435,0.006728,0.896061,0.911934,9.039974
25,2022-06-30T20:39:37+00:00,115.0,112,68.0,32.0,2022-06-30,20:39:37,20,39,37,...,117.8,112.795047,116.763439,19.704,309.200,0.006864,0.006646,0.917577,0.915265,9.164207
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,2022-06-30T21:48:28+00:00,177.0,96,71.0,32.2,2022-06-30,21:48:28,21,48,28,...,178.2,100.733090,178.194638,8.528,2.056,0.010383,0.005939,0.766918,0.944617,8.557677
223,2022-06-30T21:48:46+00:00,178.0,103,71.0,32.3,2022-06-30,21:48:46,21,48,46,...,178.0,100.145442,177.993296,13.904,2.016,0.010371,0.005903,0.767415,0.946066,8.567405
224,2022-06-30T21:49:02+00:00,180.0,101,71.0,32.3,2022-06-30,21:49:02,21,49,2,...,177.2,99.947239,177.178712,33.912,3.040,0.010325,0.005892,0.769411,0.946552,8.579817
225,2022-06-30T21:49:36+00:00,177.0,100,71.0,32.2,2022-06-30,21:49:36,21,49,36,...,176.6,105.020554,176.569238,50.936,3.720,0.010290,0.006233,0.770907,0.933266,8.520864
243,2022-06-30T22:02:21+00:00,171.0,116,70.0,31.3,2022-06-30,22:02:21,22,2,21,...,168.2,114.306113,168.105746,4.424,181.680,0.009800,0.006740,0.791763,0.911467,8.516149

In [68]:
T2 = df.loc[df['Quality'] >= 7.00]
T2 = T2.loc[df['Quality'] <=8.5]
T2

,created_at,Methane,Ethanol,Humidity,Temperature,Date,Time,Hour,Mins,Secs,...,M1,E2,M2,E3,M3,M4,E4,M5,E5,Quality
1,2022-06-30T20:26:06+00:00,199.0,145,71.0,31.8,2022-06-30,20:26:06,20,26,6,...,199.0,145.000000,199.000000,0.000,0.000,0.011595,0.008543,0.715458,0.836695,7.760768
2,2022-06-30T20:27:07+00:00,198.0,142,71.0,31.8,2022-06-30,20:27:07,20,27,7,...,198.0,142.000000,198.000000,0.000,0.000,0.011537,0.008366,0.717932,0.844015,7.809734
3,2022-06-30T20:27:22+00:00,199.0,143,70.0,31.8,2022-06-30,20:27:22,20,27,22,...,198.8,143.392761,198.767089,0.328,13.008,0.011583,0.008449,0.715993,0.840608,7.783002
4,2022-06-30T20:28:07+00:00,203.0,143,70.0,31.9,2022-06-30,20:28:07,20,28,7,...,195.6,144.158186,195.355043,4.936,18.008,0.011397,0.008496,0.724165,0.838697,7.814308
5,2022-06-30T20:28:22+00:00,195.0,144,70.0,31.9,2022-06-30,20:28:22,20,28,22,...,191.8,144.158186,191.347187,5.008,20.896,0.011175,0.008496,0.733816,0.838697,7.862564
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4583,2022-07-03T21:54:44+00:00,235.0,177,81.0,30.1,2022-07-03,21:54:44,21,54,44,...,226.6,178.192386,226.389271,1.432,44.464,0.013203,0.010499,0.647438,0.755701,7.015693
4584,2022-07-03T21:55:02+00:00,220.0,180,81.0,30.0,2022-07-03,21:55:02,21,55,2,...,226.4,178.192386,226.182406,1.216,38.704,0.013191,0.010499,0.647941,0.755701,7.018208
4585,2022-07-03T21:55:19+00:00,220.0,177,81.0,30.0,2022-07-03,21:55:19,21,55,19,...,224.2,177.993296,224.064345,2.008,25.912,0.013063,0.010487,0.653284,0.756187,7.047359
4586,2022-07-03T21:55:36+00:00,222.0,178,81.0,30.0,2022-07-03,21:55:36,21,55,36,...,222.6,178.591943,222.568582,1.728,11.808,0.012970,0.010523,0.657116,0.754725,7.059208
4587,2022-07-03T21:55:53+00:00,224.0,178,81.0,30.2,2022-07-03,21:55:53,21,55,53,...,224.2,179.928464,224.160001,8.768,3.648,0.013063,0.010605,0.653169,0.751385,7.022769

In [69]:
Group1 = df.loc[1:243] 
for i in range(1,len(Group1)):
    if(Group1.Quality[i] <= 8.5):
        Group1.Quality[i] = 8.8

Group1

C:\Users\naren\AppData\Local\Temp\ipykernel_18844\1296081768.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Group1.Quality[i] = 8.8

,created_at,Methane,Ethanol,Humidity,Temperature,Date,Time,Hour,Mins,Secs,...,M1,E2,M2,E3,M3,M4,E4,M5,E5,Quality
1,2022-06-30T20:26:06+00:00,199.0,145,71.0,31.8,2022-06-30,20:26:06,20,26,6,...,199.0,145.000000,199.000000,0.000,0.000,0.011595,0.008543,0.715458,0.836695,8.800000
2,2022-06-30T20:27:07+00:00,198.0,142,71.0,31.8,2022-06-30,20:27:07,20,27,7,...,198.0,142.000000,198.000000,0.000,0.000,0.011537,0.008366,0.717932,0.844015,8.800000
3,2022-06-30T20:27:22+00:00,199.0,143,70.0,31.8,2022-06-30,20:27:22,20,27,22,...,198.8,143.392761,198.767089,0.328,13.008,0.011583,0.008449,0.715993,0.840608,8.800000
4,2022-06-30T20:28:07+00:00,203.0,143,70.0,31.9,2022-06-30,20:28:07,20,28,7,...,195.6,144.158186,195.355043,4.936,18.008,0.011397,0.008496,0.724165,0.838697,8.800000
5,2022-06-30T20:28:22+00:00,195.0,144,70.0,31.9,2022-06-30,20:28:22,20,28,22,...,191.8,144.158186,191.347187,5.008,20.896,0.011175,0.008496,0.733816,0.838697,8.800000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239,2022-06-30T21:59:15+00:00,175.0,119,70.0,0.0,2022-06-30,21:59:15,21,59,15,...,173.0,115.955165,172.872942,10.392,16.016,0.010080,0.006834,0.779929,0.907505,8.800000
240,2022-06-30T21:59:52+00:00,177.0,113,69.0,31.2,2022-06-30,21:59:52,21,59,52,...,170.8,116.153641,170.585474,10.040,24.600,0.009952,0.006846,0.785476,0.907019,8.800000
241,2022-06-30T22:00:41+00:00,164.0,118,69.0,31.2,2022-06-30,22:00:41,22,0,41,...,170.0,116.563177,169.811077,5.552,25.968,0.009905,0.006870,0.787425,0.906031,8.800000
242,2022-06-30T22:01:13+00:00,163.0,117,70.0,31.2,2022-06-30,22:01:13,22,1,13,...,169.6,114.940307,169.430945,5.320,52.080,0.009882,0.006775,0.788390,0.909962,8.800000
243,2022-06-30T22:02:21+00:00,171.0,116,70.0,31.3,2022-06-30,22:02:21,22,2,21,...,168.2,114.306113,168.105746,4.424,181.680,0.009800,0.006740,0.791763,0.911467,8.516149

In [72]:
Group2 = df.loc[243:1000] 
for i in range(243, 1000):
    if(Group2.Quality[i] <= 7.8):
        Group2.Quality[i] = 8.0

Group2

C:\Users\naren\AppData\Local\Temp\ipykernel_18844\1245819153.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Group2.Quality[i] = 8.0

,created_at,Methane,Ethanol,Humidity,Temperature,Date,Time,Hour,Mins,Secs,...,M1,E2,M2,E3,M3,M4,E4,M5,E5,Quality
243,2022-06-30T22:02:21+00:00,171.0,116,70.0,31.3,2022-06-30,22:02:21,22,2,21,...,168.2,114.306113,168.105746,4.424,181.680,0.009800,0.006740,0.791763,0.911467,8.516149
244,2022-06-30T22:03:29+00:00,173.0,111,71.0,31.3,2022-06-30,22:03:29,22,3,29,...,184.6,113.731307,180.435957,5.600,494.480,0.010756,0.006705,0.756109,0.912901,8.345049
245,2022-06-30T22:03:47+00:00,170.0,110,71.0,31.4,2022-06-30,22:03:47,22,3,47,...,196.2,112.341452,191.566620,5.192,492.496,0.011432,0.006622,0.727981,0.916305,8.221426
246,2022-06-30T22:04:55+00:00,246.0,115,70.0,31.3,2022-06-30,22:04:55,22,4,55,...,206.0,112.152556,201.628498,5.832,494.800,0.012003,0.006610,0.703422,0.916779,8.101006
247,2022-06-30T22:05:29+00:00,221.0,110,70.0,31.3,2022-06-30,22:05:29,22,5,29,...,215.2,111.311678,212.008635,10.096,468.016,0.012539,0.006563,0.679238,0.918780,7.990091
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
996,2022-07-01T12:06:51+00:00,192.0,140,83.0,33.3,2022-07-01,12:06:51,12,6,51,...,193.0,139.798851,192.987692,0.432,3.104,0.011245,0.008237,0.730316,0.849384,7.898497
997,2022-07-01T12:07:08+00:00,192.0,140,84.0,33.2,2022-07-01,12:07:08,12,7,8,...,193.0,139.598278,192.987692,1.200,2.848,0.011245,0.008225,0.730316,0.849873,7.900940
998,2022-07-01T12:07:25+00:00,193.0,140,84.0,33.0,2022-07-01,12:07:25,12,7,25,...,193.2,141.141120,193.180801,8.328,2.368,0.011257,0.008319,0.729829,0.846037,7.879330
999,2022-07-01T12:07:42+00:00,192.0,139,84.0,32.9,2022-07-01,12:07:42,12,7,42,...,193.4,140.936681,193.382429,10.632,2.296,0.011268,0.008307,0.729332,0.846530,7.879312
1000,2022-07-01T12:07:59+00:00,197.0,147,84.0,33.1,2022-07-01,12:07:59,12,7,59,...,194.2,140.936681,194.180710,11.952,3.064,0.011315,0.008307,0.727356,0.846530,7.869428

In [73]:
Group3 = df.loc[1000:4587] 
for i in range(1001,4571):
    if(Group3.Quality[i] >= 7.8):
        Group3.Quality[i] = 7.0

Group3

C:\Users\naren\AppData\Local\Temp\ipykernel_18844\2086894347.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Group3.Quality[i] = 7.0

,created_at,Methane,Ethanol,Humidity,Temperature,Date,Time,Hour,Mins,Secs,...,M1,E2,M2,E3,M3,M4,E4,M5,E5,Quality
1000,2022-07-01T12:07:59+00:00,197.0,147,84.0,33.1,2022-07-01,12:07:59,12,7,59,...,194.2,140.936681,194.180710,11.952,3.064,0.011315,0.008307,0.727356,0.846530,7.869428
1001,2022-07-01T12:08:16+00:00,193.0,139,84.0,33.2,2022-07-01,12:08:16,12,8,16,...,193.8,142.300996,193.772422,18.392,4.408,0.011292,0.008390,0.728355,0.843157,7.000000
1002,2022-07-01T12:08:33+00:00,196.0,140,84.0,33.1,2022-07-01,12:08:33,12,8,33,...,193.8,142.509416,193.772422,17.984,4.528,0.011292,0.008402,0.728355,0.842659,7.000000
1003,2022-07-01T12:08:50+00:00,191.0,147,84.0,33.0,2022-07-01,12:08:50,12,8,50,...,193.6,141.141120,193.578129,12.352,5.008,0.011280,0.008319,0.728843,0.846037,7.000000
1004,2022-07-01T12:09:08+00:00,192.0,140,84.0,33.2,2022-07-01,12:09:08,12,9,8,...,193.6,141.346154,193.578129,10.328,4.880,0.011280,0.008331,0.728843,0.845543,7.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4583,2022-07-03T21:54:44+00:00,235.0,177,81.0,30.1,2022-07-03,21:54:44,21,54,44,...,226.6,178.192386,226.389271,1.432,44.464,0.013203,0.010499,0.647438,0.755701,7.015693
4584,2022-07-03T21:55:02+00:00,220.0,180,81.0,30.0,2022-07-03,21:55:02,21,55,2,...,226.4,178.192386,226.182406,1.216,38.704,0.013191,0.010499,0.647941,0.755701,7.018208
4585,2022-07-03T21:55:19+00:00,220.0,177,81.0,30.0,2022-07-03,21:55:19,21,55,19,...,224.2,177.993296,224.064345,2.008,25.912,0.013063,0.010487,0.653284,0.756187,7.047359
4586,2022-07-03T21:55:36+00:00,222.0,178,81.0,30.0,2022-07-03,21:55:36,21,55,36,...,222.6,178.591943,222.568582,1.728,11.808,0.012970,0.010523,0.657116,0.754725,7.059208
4587,2022-07-03T21:55:53+00:00,224.0,178,81.0,30.2,2022-07-03,21:55:53,21,55,53,...,224.2,179.928464,224.160001,8.768,3.648,0.013063,0.010605,0.653169,0.751385,7.022769

In [80]:
Group3.to_csv('Group3_.csv')